/* stylelint-disable selector-class-pattern */

/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus\:input {
  @include feedback-levels;
}

modus-wc-time-input {
  .modus\:input-label {
    padding-bottom: var(--modus-wc-spacing-sm);
  }
}

[data-theme='modus-classic-light'] modus-wc-time-input .modus\:time-input,
[data-theme='modus-classic-dark'] modus-wc-time-input .modus\:time-input {
  &.modus\:input {
    border-radius: var(--modus-wc-border-radius-md);

    &.modus\:input-sm {
      font-size: var(--modus-wc-font-size-sm);
      height: var(--modus-wc-input-height-sm);
      padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-xs);
    }

    &.modus\:input-md {
      font-size: var(--modus-wc-font-size-md);
      height: var(--modus-wc-input-height-md);
      padding: var(--modus-wc-spacing-sm);
    }

    &.modus\:input-lg {
      font-size: var(--modus-wc-font-size-lg);
      height: var(--modus-wc-input-height-lg);
      padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-sm);
    }

    &:focus,
    &:focus-within {
      border-color: var(--modus-wc-color-blue-light);
      border-width: var(--modus-wc-border-width-sm);
      box-shadow: none; // Removes the Tailwind ring effect
      outline: none; // Ensures there's no outline on focus
    }

    &.modus\:time-input--readonly {
      background-color: var(--modus-wc-color-base-100);
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-time-input .modus\:time-input {
  &.modus\:input {
    &.modus\:input-bordered:not(:disabled):not(:focus) {
      border-color: var(--modus-wc-color-gray-6);
    }
  }
}

[data-theme='modus-classic-dark'] modus-wc-time-input .modus\:time-input {
  &.modus\:input {
    color-scheme: dark; // needed to ensure the clock icon button is visible in dark mode

    &:focus {
      border-color: var(--modus-wc-color-highlight-blue);
    }
  }
}
