/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-breadcrumbs .modus-wc-breadcrumbs {
  ol {
    list-style: none;
  }

  // Sizes
  &.modus-wc-text-xs {
    font-size: var(--modus-wc-font-size-xs);
  }

  &.modus-wc-text-sm {
    font-size: var(--modus-wc-font-size-sm);
  }

  &.modus-wc-text-md {
    font-size: var(--modus-wc-font-size-md);
  }

  &.modus-wc-text-lg {
    font-size: var(--modus-wc-font-size-lg);
  }
}

[data-theme='modus-classic-light'] modus-wc-breadcrumbs .modus-wc-breadcrumbs,
[data-theme='modus-classic-dark'] modus-wc-breadcrumbs .modus-wc-breadcrumbs {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-breadcrumbs .modus-wc-breadcrumbs {
  a {
    color: var(--modus-wc-color-blue-light);

    &:active {
      color: var(--modus-wc-color-trimble-gray);
    }
  }

  span {
    color: var(--modus-wc-color-trimble-gray);
  }
}

[data-theme='modus-classic-dark'] modus-wc-breadcrumbs .modus-wc-breadcrumbs {
  a {
    color: var(--modus-wc-color-highlight-blue);

    &:active {
      color: var(--modus-wc-color-white);
    }
  }

  span {
    color: var(--modus-wc-color-white);
  }
}

[data-theme='connect-light'] modus-wc-breadcrumbs .modus-wc-breadcrumbs,
[data-theme='connect-dark'] modus-wc-breadcrumbs .modus-wc-breadcrumbs {
  a {
    color: var(--modus-wc-color-base-content);
    opacity: 0.5;
    text-decoration: none;

    &:active {
      color: var(--modus-wc-color-white);
    }

    &:hover {
      text-decoration: none;
    }
  }
}
