/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus-wc-radio-host {
  align-items: center;
  display: flex;

  .modus-wc-input-label {
    padding-inline-start: var(--modus-wc-spacing-md);
  }
}

[data-theme='modus-classic-light'] .modus-wc-radio,
[data-theme='modus-classic-dark'] .modus-wc-radio {
  --fallback-bc: var(--modus-wc-color-gray-4);

  border-width: var(--modus-wc-border-width-sm);

  &.modus-wc-radio-xl {
    height: 4rem;
    width: 4rem;
  }

  &:checked {
    --fallback-bc: var(--modus-wc-color-highlight-blue);
  }

  &:focus {
    outline-color: var(--modus-wc-color-highlight-blue);
  }

  &:hover {
    --fallback-bc: var(--modus-wc-color-trimble-blue);
  }
}
