.modus-wc-modal {
  background-color: var(--modus-wc-color-base-200);
  box-sizing: border-box;
  color: var(--modus-wc-color-base-content);
  --rounded-box: var(--modus-wc-border-radius-box);

  .modus-wc-modal-box {
    display: flex;
    flex-direction: column;

    .modus-wc-modal-top-icon-buttons {
      display: flex;
      position: absolute;
      right: var(--modus-wc-spacing-sm);
      top: var(--modus-wc-spacing-sm);

      .modus-wc-btn {
        &:hover {
          background-color: transparent;
        }
      }
    }

    &.modus-wc-modal-fullscreen {
      height: 100dvh;
      max-height: none;
      max-width: none;
      width: 100dvw;
      border-radius: 0 !important;
    }

    .modus-wc-modal-action {
      margin-top: auto;
    }
  }
}

.modus-wc-modal-header > span {
  // background: var(--modus-wc-color-base-200);
  padding: var(--modus-wc-spacing-lg);
  border-radius: var(--modus-wc-border-radius-btn);
  display: block;
}

.modus-wc-modal-content {
  height: 100%;
  span {
    background: var(--modus-wc-color-base-200);
    padding: var(--modus-wc-spacing-lg);
    border-radius: var(--modus-wc-border-radius-btn);
    display: block;
    height: 100%;
  }
}

[data-theme='modus-classic-dark'] .modus-wc-modal-box,
[data-theme='modus-classic-light'] .modus-wc-modal-box {
  --rounded-box: var(--modus-wc-border-radius-md);
}

[data-theme='modus-classic-light'] .modus-wc-modal-box {
  background-color: var(--modus-wc-color-white);
}

[data-theme='modus-classic-dark'] modus-wc-modal .modus-wc-modal-box {
  background-color: var(--modus-wc-color-gray-9);
}

[data-theme='modus-classic-dark'] .modus-wc-modal-header,
[data-theme='modus-classic-light'] .modus-wc-modal-header {
  span {
    background: transparent;
    padding: 0;
    border-radius: 0;
    display: block;
  }
}

[data-theme='modus-classic-dark'] .modus-wc-modal-content,
[data-theme='modus-classic-light'] .modus-wc-modal-content {
  height: 100%;
  span {
    background: transparent;
    padding: 0;
    border-radius: 0;
    display: block;
    height: 100%;
  }
}
