modus-wc-modal .modus-wc-modal {
  box-sizing: border-box;
  color: var(--modus-wc-color-base-content);

  --rounded-box: var(--modus-wc-border-radius-box);

  .modus-wc-modal-box {
    display: flex;
    flex-direction: column;

    .modus-wc-modal-top-icon-buttons {
      display: flex;
      position: absolute;
      right: var(--modus-wc-spacing-sm);
      top: var(--modus-wc-spacing-sm);

      svg {
        height: 24px;
        width: 24px;
      }
    }

    &.modus-wc-modal-fullscreen {
      border-radius: 0;
      height: 100dvh;
      max-height: none;
      max-width: none;
      width: 100dvw;
    }

    .modus-wc-modal-action {
      margin-top: auto;
    }
  }
}

.modus-wc-modal-header > span {
  border-radius: var(--modus-wc-border-radius-btn);
  display: block;

  // background: var(--modus-wc-color-base-200);
  padding: var(--modus-wc-spacing-lg);
}

.modus-wc-modal-content {
  height: 100%;

  span {
    background: var(--modus-wc-color-base-200);
    border-radius: var(--modus-wc-border-radius-btn);
    display: block;
    height: 100%;
    padding: var(--modus-wc-spacing-lg);
  }
}

[data-theme='modus-classic-dark'] .modus-wc-modal-box,
[data-theme='modus-classic-light'] .modus-wc-modal-box {
  --rounded-box: var(--modus-wc-border-radius-md);
}

[data-theme='modus-classic-light'] .modus-wc-modal-box {
  background-color: var(--modus-wc-color-white);

  .modus-wc-modal-top-icon-buttons svg {
    fill: var(--modus-wc-color-trimble-gray);
  }
}

[data-theme='modus-classic-dark'] modus-wc-modal .modus-wc-modal-box {
  background-color: var(--modus-wc-color-gray-9);

  .modus-wc-modal-top-icon-buttons svg {
    fill: var(--modus-wc-color-white);
  }
}

[data-theme='modus-classic-dark'] .modus-wc-modal-header,
[data-theme='modus-classic-light'] .modus-wc-modal-header {
  span {
    background: transparent;
    border-radius: 0;
    display: block;
    padding: 0;
  }
}

[data-theme='modus-classic-dark'] .modus-wc-modal-content,
[data-theme='modus-classic-light'] .modus-wc-modal-content {
  height: 100%;

  span {
    background: transparent;
    border-radius: 0;
    display: block;
    height: 100%;
    padding: 0;
  }
}
