/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/
modus-wc-profile-menu {
  background-color: var(--modus-wc-color-base-page);
  border-radius: var(--modus-wc-border-radius-box);

  .modus-wc-panel {
    background-color: var(--modus-wc-color-base-page);
    border: 1px solid var(--modus-wc-color-gray-0);
    border-radius: var(--rounded-box);
    box-shadow:
      0 4px 6px -4px var(--modus-wc-color-base-200),
      0 10px 15px -3px var(--modus-wc-color-base-200);
    display: block;
    height: auto;
    padding: 0 var(--modus-wc-spacing-sm);
  }

  .profile-menu-header {
    align-items: center;
    align-self: center;
    border-bottom: 1px solid var(--modus-wc-color-gray-0);
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding: var(--modus-wc-spacing-lg);
    width: 244px;

    .header-content {
      align-items: center;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      gap: var(--modus-wc-spacing-md);

      .text-container {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        gap: var(--modus-wc-spacing-2xs);
        justify-content: center;
        text-align: center;

        .header-text,
        .user-name-text,
        .email-text {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .header-text {
          color: var(--modus-wc-color-base-content);
          line-height: 16px;
          opacity: var(--modus-wc-opacity-overlay);
        }

        .user-name-text {
          color: var(--modus-wc-color-base-content);
          line-height: 24px;
        }

        .email-text {
          color: var(--modus-wc-color-base-content);
          line-height: 16px;
          opacity: var(--modus-wc-opacity-overlay);
        }
      }

      .manage-link {
        color: var(--modus-wc-color-primary);
        line-height: 20px;
        text-decoration: underline;
      }
    }
  }

  .profile-menu-footer {
    align-items: center;
    border-top: 1px solid var(--modus-wc-color-gray-0);
    display: flex;
    flex-direction: column;
    gap: var(--modus-wc-spacing-2xs);
    padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-lg);

    .footer-text {
      color: var(--modus-wc-color-accent);
      line-height: var(--modus-wc-font-size-2xl);
    }
  }

  .submenu-section {
    .submenu-title-container {
      align-items: flex-end;
      border-bottom: 1px solid var(--modus-wc-color-gray-0);
      display: flex;
      height: var(--modus-wc-line-height-h0);
      padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-lg);
    }

    .submenu-title {
      color: var(--modus-wc-color-base-content-low-contrast);
      line-height: var(--modus-wc-font-size-2xl);
    }
  }

  [slot='body'] modus-wc-menu {
    .modus-wc-menu-item {
      color: var(--modus-wc-color-base-content);
      padding: var(--modus-wc-spacing-2xs) var(--modus-wc-spacing-xs);

      .modus-wc-menu-item-labels {
        color: var(--modus-wc-color-base-content);
      }
    }

    li.modus-wc-menu-item-selected {
      background-color: transparent;
      color: inherit;
    }
  }
}
