/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/
modus-wc-profile-menu {
  background-color: var(--modus-wc-color-base-page);
  border-radius: var(--rounded-box);

  .modus-wc-panel {
    background-color: var(--modus-wc-color-base-page);
    display: block;
    height: auto;
    padding-inline-end: var(--modus-wc-spacing-md);
    padding-inline-start: var(--modus-wc-spacing-md);
  }

  .profile-menu-header {
    align-items: center;
    border-bottom: 1px solid var(--modus-wc-color-gray-0);
    display: flex;
    flex-direction: column;
    gap: var(--modus-wc-spacing-xs);
    max-width: 100%;
    overflow: hidden;
    padding-bottom: var(--modus-wc-spacing-md);
    padding-top: var(--modus-wc-spacing-xl);

    .text-container {
      .header-text,
      .user-name-text {
        padding-bottom: var(--modus-wc-spacing-xs);
      }

      text-align: center;
      width: 100%;
    }

    .email-text,
    .header-text,
    .user-name-text {
      display: block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .email-text,
    .header-text {
      opacity: var(--modus-wc-opacity-overlay);
    }

    .manage-link {
      text-decoration: underline;
    }
  }

  .profile-menu-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--modus-wc-spacing-sm);
    padding: var(--modus-wc-spacing-md);
  }

  .submenu-section {
    .modus-wc-typography {
      border-bottom: 1px solid var(--modus-wc-color-gray-0);
      padding-bottom: var(--modus-wc-spacing-sm);
      padding-inline-start: var(--modus-wc-spacing-lg);
      padding-top: var(--modus-wc-spacing-md);
    }
  }

  [slot='body'] modus-wc-menu {
    li.modus-wc-menu-item-selected {
      background-color: transparent;
      color: inherit;
    }
  }
}
