/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

/* Apply accordion borders using CSS variable from variables.css */
modus-wc-accordion .modus-wc-collapse {
  border: var(--modus-accordion-border);
}

/* Border radius adjustments for collapse items in accordion */
modus-wc-accordion {
  modus-wc-collapse:first-child .modus-wc-collapse {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  modus-wc-collapse:not(:first-child):not(:last-child) .modus-wc-collapse {
    border-radius: 0;
  }

  modus-wc-collapse:last-child .modus-wc-collapse {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
