# Angular
.angular/

# Dependencies
node_modules/

# Build output
dist/
www/
loader/
storybook-static/
.wireit/
.eslintcache

# Stencil
.stencil/
/integrations/**/stencil-generated/

# Test coverage
coverage/

# IDE and editor files
.idea/

# Logs
*.log
