.modus-wc-input {
  @include feedback-levels;
  @include sizing-tokens;
}

modus-wc-date .modus-wc-date-input {
  background-color: inherit;

  .modus-wc-input-label {
    padding-bottom: var(--modus-wc-spacing-sm);
  }

  &--readonly {
    background-color: var(--modus-wc-color-base-200);
  }
}

// Calendar styles
modus-wc-date {
  --calendar-grid-columns: repeat(7, 1fr);

  position: relative;

  .date-input-container {
    align-items: center;
    display: inline-flex;
    position: relative;
    width: 100%;

    .calendar-icon-button {
      align-items: center;
      display: flex;
      justify-content: center;
      position: absolute;
      right: var(--modus-wc-spacing-xs);

      :hover {
        color: var(--modus-wc-color-blue-light);
      }

      :disabled {
        cursor: not-allowed;
        background-color: transparent;
      }
    }
  }

  .calendar-container {
    background: var(--modus-wc-color-white);
    border: 1px solid var(--modus-wc-color-gray-4);
    border-radius: var(--modus-wc-border-radius-md);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    min-width: 280px;
    overflow: hidden;
    position: fixed;
    z-index: 9999;

    .calendar-header {
      align-items: center;
      background-color: var(--modus-wc-color-blue-light);
      color: var(--modus-wc-color-white);
      display: flex;
      justify-content: space-between;
      padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-xl);

      .nav-btn {
        i {
          color: var(--modus-wc-color-white);
        }

        &:hover {
          i {
            color: var(--modus-wc-color-blue-dark);
          }
        }
      }

      .calendar-selects {
        align-items: center;
        display: flex;
        gap: var(--modus-wc-spacing-xs);

        select {
          background-color: var(--modus-wc-color-white);
          color: var(--modus-wc-color-gray-9);
        }

        .month-select {
          min-width: 105px;
        }

        .year-select {
          min-width: 110px;
        }
      }
    }

    .calendar-body {
      font-size: var(--modus-wc-font-size-md);
      padding: var(--modus-wc-spacing-2xl);

      .calendar-days-week {
        display: grid;
        gap: var(--modus-wc-spacing-xs);
        grid-template-columns: var(--calendar-grid-columns);
        margin-bottom: var(--modus-wc-spacing-sm);

        .day-header {
          color: var(--modus-wc-color-gray-6);
          font-weight: var(--modus-wc-font-weight-bold);
          padding: var(--modus-wc-spacing-xs);
          text-align: center;
        }
      }

      .calendar-dates {
        display: grid;
        grid-template-columns: var(--calendar-grid-columns);

        .calendar-day {
          align-items: center;
          background: none;
          border: none;
          border-radius: 50%;
          color: var(--modus-wc-color-gray-8);
          cursor: pointer;
          display: flex;
          height: 32px;
          justify-content: center;
          width: 32px;

          &:hover {
            background-color: var(--modus-wc-color-blue-light);
            color: var(--modus-wc-color-white);
          }

          &:focus {
            border: 2px solid var(--modus-wc-color-blue-light);
            outline: none;
          }

          &.current-day {
            background-color: var(--modus-wc-color-blue-dark);
            color: var(--modus-wc-color-white);
          }

          &.selected {
            background-color: var(--modus-wc-color-blue-light);
            color: var(--modus-wc-color-white);
            font-weight: var(--modus-wc-font-weight-semibold);

            &:hover {
              background-color: var(--modus-wc-color-blue-dark);
            }
          }

          &.other-month {
            color: var(--modus-wc-color-gray-4);

            &:hover {
              background-color: var(--modus-wc-color-gray-2);
              color: var(--modus-wc-color-gray-6);
            }
          }

          &.disabled {
            color: var(--modus-wc-color-gray-4);

            &:hover {
              background-color: transparent;
              color: var(--modus-wc-color-gray-4);
            }

            &:focus {
              border: none;
            }
          }
        }
      }
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-date .modus-wc-date-input,
[data-theme='modus-classic-dark'] modus-wc-date .modus-wc-date-input {
  &.modus-wc-input {
    border-radius: var(--modus-wc-border-radius-md);

    // TODO - add support for xs and xl once added to Modus Figma

    &.modus-wc-input-sm {
      font-size: var(--modus-wc-font-size-sm);
      height: var(--modus-wc-input-height-sm);
      padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-xs);
    }

    &.modus-wc-input-md {
      font-size: var(--modus-wc-font-size-md);
      height: var(--modus-wc-input-height-md);
      padding: var(--modus-wc-spacing-sm);
    }

    &.modus-wc-input-lg {
      font-size: var(--modus-wc-font-size-lg);
      height: var(--modus-wc-input-height-lg);
      padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-sm);
    }

    &:focus {
      border-color: var(--modus-wc-color-blue-light);
      border-width: var(--modus-wc-border-width-sm);
    }

    &.modus-wc-date-input--readonly {
      background-color: var(--modus-wc-color-base-100);
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-date .modus-wc-date-input {
  &.modus-wc-input {
    &.modus-wc-input-bordered:not(:disabled):not(:focus) {
      border-color: var(--modus-wc-color-gray-6);
    }
  }
}

[data-theme='modus-classic-dark'] modus-wc-date .modus-wc-date-input {
  color-scheme: dark; // needed to ensure the calendar icon button is visible in dark mode

  &.modus-wc-input:focus {
    border-color: var(--modus-wc-color-highlight-blue);
  }
}

[data-theme='connect-light'] modus-wc-date .modus-wc-date-input,
[data-theme='connect-dark'] modus-wc-date .modus-wc-date-input {
  @include connect-input-styles;
}
