.modus-wc-input {
  @include feedback-levels();
}

[data-theme='modus-classic-light'] .modus-wc-input,
[data-theme='modus-classic-dark'] .modus-wc-input {
  border-radius: var(--modus-wc-border-radius-md);

  .modus-wc-input-label {
    padding-bottom: var(--modus-wc-spacing-2xs);
  }

  // TODO - add support for xs and xl once added to Modus Figma

  &.modus-wc-input-sm {
    font-size: var(--modus-wc-font-size-sm);
    height: var(--modus-wc-input-height-sm);
    padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-xs);
  }

  &.modus-wc-input-md {
    font-size: var(--modus-wc-font-size-md);
    height: var(--modus-wc-input-height-md);
    padding: var(--modus-wc-spacing-sm);
  }

  &.modus-wc-input-lg {
    font-size: var(--modus-wc-font-size-lg);
    height: var(--modus-wc-input-height-lg);
    padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-sm);
  }

  &:focus {
    border-color: var(--modus-wc-color-blue-light);
    border-width: var(--modus-wc-border-width-sm);
    box-shadow: none; // Removes the Tailwind ring effect
    outline: none; // Ensures there's no outline on focus
  }

  &.modus-wc-date-readonly {
    background-color: var(--modus-wc-color-base-100);
  }
}

[data-theme='modus-classic-light'] .modus-wc-input {
  &.modus-wc-input-bordered:not(:disabled):not(:focus) {
    border-color: var(--modus-wc-color-gray-6);
  }
}

[data-theme='modus-classic-dark'] .modus-wc-input:focus {
  border-color: var(--modus-wc-color-highlight-blue);
}
