/* stylelint-disable selector-class-pattern */

modus-wc-icon .modus-icons {
  &.modus\:icon--xs {
    font-size: 1rem;
  }

  &.modus\:icon--sm {
    font-size: 1.25rem;
  }

  &.modus\:icon--md {
    font-size: 1.5rem;
  }

  &.modus\:icon--lg {
    font-size: 2rem;
  }

  &.modus\:icon--xl {
    font-size: 4rem;
  }
}
