/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

// Defaults
modus-wc-pagination .modus-wc-pagination {
  background-color: var(--modus-wc-color-base-100);
  color: var(--modus-wc-color-base-content);

  .modus-wc-pagination-btn {
    background-color: var(--modus-wc-color-base-100);
    border-color: transparent;

    &.modus-wc-btn-sm {
      .modus-wc-pagination-icon {
        height: var(--modus-wc-line-height-sm);
        width: var(--modus-wc-line-height-sm);
      }
    }

    &.modus-wc-btn-md {
      .modus-wc-pagination-icon {
        height: var(--modus-wc-ling-height-md);
        width: var(--modus-wc-line-height-md);
      }
    }

    &.modus-wc-btn-lg {
      .modus-wc-pagination-icon {
        height: var(--modus-wc-line-height-lg);
        width: var(--modus-wc-line-height-lg);
      }
    }
  }

  .modus-wc-pagination-btn:not(:disabled) {
    background-color: var(--modus-wc-color-base-100);
    color: var(--modus-wc-color-base-content);

    &.modus-wc-btn-active {
      background-color: var(--modus-wc-color-primary);
      color: var(--modus-wc-color-primary-content);
    }

    &:hover:not(.modus-wc-btn-active) {
      background-color: var(--modus-wc-color-base-300);
      border-color: transparent;
    }
  }
}

[data-theme='modus-classic-dark'] modus-wc-pagination .modus-wc-pagination,
[data-theme='modus-classic-light'] modus-wc-pagination .modus-wc-pagination {
  background-color: transparent;

  .modus-wc-pagination-btn {
    background-color: transparent;
    border: none;
    border-radius: var(--modus-wc-border-radius-md) !important;
    box-shadow: none;

    // Sizes
    &.modus-wc-btn-sm {
      height: var(--modus-wc-line-height-md);
      max-height: var(--modus-wc-line-height-md);
      min-height: var(--modus-wc-line-height-md);
      width: var(--modus-wc-line-height-md);
    }

    &.modus-wc-btn-md {
      height: var(--modus-wc-line-height-lg);
      max-height: var(--modus-wc-line-height-lg);
      min-height: var(--modus-wc-line-height-lg);
      width: var(--modus-wc-line-height-lg);
    }

    &.modus-wc-btn-lg {
      height: var(--modus-wc-line-height-xl);
      max-height: var(--modus-wc-line-height-xl);
      min-height: var(--modus-wc-line-height-xl);
      width: var(--modus-wc-line-height-xl);
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-pagination .modus-wc-pagination {
  .modus-wc-pagination-btn:not(:disabled) {
    color: var(--modus-wc-color-trimble-gray);

    &.modus-wc-btn-active {
      background-color: var(--modus-wc-color-blue-pale);
      color: var(--modus-wc-color-blue-light);
    }

    &:hover:not(.modus-wc-btn-active) {
      background-color: var(--modus-wc-color-gray-0);
    }
  }
}

[data-theme='modus-classic-dark'] modus-wc-pagination .modus-wc-pagination {
  .modus-wc-pagination-btn:not(:disabled) {
    color: var(--modus-wc-color-gray-2);

    &.modus-wc-btn-active {
      background-color: var(--modus-wc-color-highlight-blue);
      color: var(--modus-wc-color-trimble-gray);
    }

    &:hover:not(.modus-wc-btn-active) {
      background-color: var(--modus-wc-color-gray-8);
    }
  }
}
