/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus-wc-tab modus-wc-icon + span,
.modus-wc-tab span + modus-wc-icon {
  padding-inline-start: var(--modus-wc-spacing-xs);
}

.modus-wc-tab {
  align-items: center;
  border-top-left-radius: var(--modus-wc-border-radius-md);
  border-top-right-radius: var(--modus-wc-border-radius-md);
  display: inline-flex;
  font-weight: var(--modus-wc-font-weight-bold);

  --tab-border: 0px; // ! This is rendered as 1px due to a calc(+1)

  // For centering purposes
  modus-wc-icon {
    .modus-wc-icon--xs {
      line-height: calc(var(--modus-wc-line-height-sm) + 0.25rem);
    }

    .modus-wc-icon--sm {
      line-height: var(--modus-wc-line-height-md);
    }

    .modus-wc-icon--md {
      line-height: var(--modus-wc-line-height-lg);
    }

    .modus-wc-icon--lg {
      line-height: var(--modus-wc-line-height-xl);
    }
  }
}

.modus-wc-tab {
  --tab-color: var(--modus-wc-color-base-content);

  &:not(.modus-wc-tab-active):not(.modus-wc-tab-disabled):hover {
    background-color: var(--modus-wc-color-base-100);
  }

  &:not(.modus-wc-tab-disabled):active {
    --tab-color: var(--modus-wc-color-white);

    // Unfortunately needed, otherwise browsers sometimes don't apply.
    background-color: var(--modus-wc-color-primary) !important;
  }

  &.modus-wc-tab-active {
    --tab-color: var(--modus-wc-color-primary);
    --tab-bg: var(--modus-wc-color-base-100);
    border-color: var(--modus-wc-color-primary);
  }
}

.modus-wc-tabs-lifted {
  .modus-wc-tab:is(.modus-wc-tab-active, [aria-selected='true']):not(
      .modus-wc-tab-disabled
    ):not([disabled]),
  .modus-wc-tab:is(input:checked) {
    --tab-border: 1px;
    border-color: var(--modus-wc-color-base-200);
    --tab-bg: inherit !important;
  }
}

.modus-wc-tabs-bordered {
  .modus-wc-tab:is(.modus-wc-tab-active, [aria-selected='true']):not(
      .modus-wc-tab-disabled
    ):not([disabled]),
  .modus-wc-tab:is(input:checked) {
    --tab-border: 4px;
    border-color: var(--modus-wc-color-primary);
  }
}

.modus-wc-tabs-boxed,
.modus-wc-tabs-boxed .modus-wc-tab {
  background-color: var(--modus-wc-color-base-100);
  border-radius: var(--modus-wc-border-radius-tab);
}
.modus-wc-tabs-boxed > .modus-wc-tab {
  &:not(.modus-wc-tab-active):not(.modus-wc-tab-disabled):hover {
    background-color: var(--modus-wc-color-base-200);
  }
}

[data-theme='modus-classic-light'] .modus-wc-tab {
  --tab-color: var(--modus-wc-color-trimble-gray);
  --tab-bg: var(--modus-wc-color-white);
  --fallback-bc: var(--modus-wc-color-gray-2);

  &:not(.modus-wc-tab-active):not(.modus-wc-tab-disabled):hover {
    background-color: var(--modus-wc-color-gray-0);
  }

  &:not(.modus-wc-tab-disabled):active {
    --tab-color: var(--modus-wc-color-white);

    // Unfortunately needed, otherwise browsers sometimes don't apply.
    background-color: var(--modus-wc-color-trimble-blue) !important;
  }

  &.modus-wc-tab-active {
    --tab-color: var(--modus-wc-color-white);
    --tab-bg: var(--modus-wc-color-blue-light);

    background-color: var(--modus-wc-color-blue-light);

    --fallback-p: var(--modus-wc-color-blue-light);
    --fallback-bc: transparent;
  }
}

[data-theme='modus-classic-dark'] .modus-wc-tab {
  --tab-color: var(--modus-wc-color-white);
  --tab-bg: var(--modus-wc-color-gray-10);

  background-color: var(--modus-wc-color-gray-10);

  --fallback-bc: var(--modus-wc-color-gray-8);

  &:not(.modus-wc-tab-active):not(.modus-wc-tab-disabled):hover {
    background-color: var(--modus-wc-color-gray-8);
  }

  &:not(.modus-wc-tab-disabled):active {
    // Unfortunately needed, otherwise browsers sometimes don't apply.
    background-color: var(--modus-wc-color-highlight-blue) !important;
  }

  &.modus-wc-tab-active {
    --tab-color: var(--modus-wc-color-white);
    --tab-bg: var(--modus-wc-color-blue-light);

    // rgba(var(--modus-wc-color-highlight-blue), 0.3) applied on a background of --modus-wc-color-neutral
    background-color: #255773;
    border-width: 1px;

    --fallback-p: var(--modus-wc-color-blue-light);
    --fallback-bc: var(--modus-wc-color-highlight-blue);
  }

  &.modus-wc-tab-disabled {
    --tab-color: var(--modus-wc-color-gray-2);

    background-color: var(--modus-wc-color-gray-10);
  }
}
