/* stylelint-disable selector-class-pattern */

/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-tabs {
  .modus\:tab modus-wc-icon + span,
  .modus\:tab span + modus-wc-icon {
    padding-inline-start: var(--modus-wc-spacing-xs);
  }
}

modus-wc-tabs .modus\:tab {
  align-items: center;
  border-top-left-radius: var(--modus-wc-border-radius-md);
  border-top-right-radius: var(--modus-wc-border-radius-md);
  display: inline-flex;
  font-weight: var(--modus-wc-font-weight-bold);

  --tab-border: 0px; // ! This is rendered as 1px due to a calc(+1)

  // For centering purposes
  modus-wc-icon {
    .modus\:icon--xs {
      line-height: calc(var(--modus-wc-line-height-sm) + 0.25rem);
    }

    .modus\:icon--sm {
      line-height: var(--modus-wc-line-height-md);
    }

    .modus\:icon--md {
      line-height: var(--modus-wc-line-height-lg);
    }

    .modus\:icon--lg {
      line-height: var(--modus-wc-line-height-xl);
    }
  }

  &:not(.modus\:tab-active):not(.modus\:tab-disabled):hover {
    background-color: var(--modus-wc-color-base-100);
  }
}

.modus\:tabs-lifted
  > .modus\:tab:is(.modus\:tab-active, [aria-selected='true']):not(
    .modus\:tab-disabled
  ):not([disabled]),
.modus\:tabs-lifted > .modus\:tab:is(input:checked) {
  color: var(--modus-wc-color-primary);
}

.modus\:tabs-bordered {
  .modus\:tab:is(.modus\:tab-active, [aria-selected='true']):not(
      .modus\:tab-disabled
    ):not([disabled]) {
    border-bottom-color: var(--modus-wc-color-primary);
    border-bottom-width: var(--modus-wc-border-width-lg);
  }
}

.modus\:tab .modus\:tab-active {
  .modus\:tab:is(input:checked) {
    color: var(--modus-wc-color-primary);
  }
}

[data-theme='modus-classic-light'] modus-wc-tabs .modus\:tab {
  --tab-color: var(--modus-wc-color-trimble-gray);
  --tab-bg: var(--modus-wc-color-white);
  --fallback-bc: var(--modus-wc-color-gray-2);

  &:not(.modus\:tab-active):not(.modus\:tab-disabled):hover {
    background-color: var(--modus-wc-color-blue-pale);
  }

  &:not(.modus\:tab-disabled):active {
    --tab-color: var(--modus-wc-color-gray-10);
    --tab-border: var(
      --modus-wc-border-width-xs
    ); // ! This is rendered as 1px due to a calc(+1)

    --tab-bg: var(--modus-wc-color-white);

    // Unfortunately needed, otherwise browsers sometimes don't apply.
    background-color: var(--modus-wc-color-trimble-blue) !important;
  }

  &.modus\:tab-active {
    --tab-color: var(--modus-wc-color-gray-10);
    --tab-bg: var(--modus-wc-color-blue-light);

    background-color: var(--modus-wc-color-white);

    --fallback-p: var(--modus-wc-color-blue-light);
    --fallback-bc: transparent;
  }
}

[data-theme='modus-classic-dark'] modus-wc-tabs .modus\:tab {
  --tab-color: var(--modus-wc-color-white);
  --tab-bg: var(--modus-wc-color-gray-8);
  --fallback-bc: var(--modus-wc-color-gray-8);

  &:not(.modus\:tab-active):not(.modus\:tab-disabled):hover {
    background-color: var(--modus-wc-color-blue-pale);
    color: var(--modus-wc-color-gray-10);
  }

  &:not(.modus\:tab-disabled):active {
    // Unfortunately needed, otherwise browsers sometimes don't apply.
    background-color: var(--modus-wc-color-highlight-blue) !important;
  }

  &.modus\:tab-active {
    --tab-color: var(--modus-wc-color-white);
    --tab-bg: var(--modus-wc-color-blue-light);

    // rgba(var(--modus-wc-color-highlight-blue), 0.3) applied on a background of --modus-wc-color-neutral
    border-bottom-width: var(--modus-wc-border-width-xs);

    --fallback-p: var(--modus-wc-color-blue-light);
    --fallback-bc: var(--modus-wc-color-highlight-blue);
  }

  &.modus\:tab-disabled {
    --tab-color: var(--modus-wc-color-gray-2);

    background-color: var(--modus-wc-color-gray-9);
  }
}
