/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

// Default Styles
modus-wc-chip .modus-wc-chip {
  &.modus-wc-btn {
    background-color: var(--modus-wc-color-base-100);
    border-color: transparent;
    box-sizing: border-box;

    --rounded-btn: #{var(--modus-wc-border-radius-chip)};

    &.modus-wc-chip--circle {
      --rounded-btn: var(--modus-wc-border-radius-3xl);
    }

    @include common-states;
    @include sizing-tokens;

    // Sizes
    &.modus-wc-btn-sm {
      height: var(--modus-wc-spacing-xl);
      min-height: var(--modus-wc-spacing-xl);
      padding: var(--modus-wc-spacing-xs) var(--modus-wc-spacing-sm);

      modus-wc-avatar .modus-wc-avatar > div {
        height: 14px;
        width: 14px;
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-md);

        /* Constrains icon height to its font-size, preventing it from stretching to match the inherited line-height */
        line-height: 1;
      }
    }

    &.modus-wc-btn-md {
      height: var(--modus-wc-spacing-2xl);
      min-height: var(--modus-wc-spacing-2xl);
      padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-sm);

      modus-wc-avatar .modus-wc-avatar > div {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-lg);

        /* Constrains icon height to its font-size, preventing it from stretching to match the inherited line-height */
        line-height: 1;
      }
    }

    &.modus-wc-btn-lg {
      height: var(--modus-wc-spacing-3xl);
      min-height: var(--modus-wc-spacing-3xl);
      padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-md);

      modus-wc-avatar .modus-wc-avatar > div {
        height: 18px;
        width: 18px;
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-xl);

        /* Constrains icon height to its font-size, preventing it from stretching to match the inherited line-height */
        line-height: 1;
      }
    }

    &.modus-wc-chip-multiline {
      height: auto;
      line-height: var(--modus-wc-line-height-md);
      text-align: start;
      white-space: normal;
    }

    // States
    &.modus-wc-chip--active {
      background-color: var(--modus-wc-color-primary-pale);
      border-color: transparent;

      // color: var(--modus-wc-color-base-content);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-primary-pale);
        border-color: var(--modus-wc-color-primary);
        color: var(--modus-wc-color-primary);

        .modus-wc-chip-label {
          color: var(--modus-wc-color-primary);
        }
      }
    }

    &.modus-wc-chip--error {
      background-color: var(--modus-wc-color-red-pale);
      border-color: transparent;
      color: var(--modus-wc-color-red-dark);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-red-pale);
        border-color: var(--modus-wc-color-red-dark);
      }
    }

    &.modus-wc-chip--outline {
      background-color: var(--modus-wc-color-base-page);
      border-color: var(--modus-wc-color-base-100);
    }

    &:hover:not(.modus-wc-chip--active):not(.modus-wc-chip--error) {
      color: var(--modus-wc-color-base-content);

      &.modus-wc-chip--outline {
        border-color: var(--modus-wc-color-base-200);

        // color: var(--modus-wc-color-base-content);
      }
    }

    &:active:not(.modus-wc-chip--error):not(.modus-wc-chip--active) {
      border-color: transparent;

      // color: var(--modus-wc-color-primary-content);

      &.modus-wc-chip--outline {
        background-color: transparent;
        border-color: var(--modus-wc-color-primary);
        color: var(--modus-wc-color-primary);

        .modus-wc-chip-label {
          color: var(--modus-wc-color-primary);
        }
      }
    }

    &:focus {
      outline-offset: 0;
    }
  }

  &.modus-wc-chip--disabled {
    opacity: 0.3;

    --tw-text-opacity: 1;

    .modus-wc-avatar {
      filter: grayscale(100%);
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-chip .modus-wc-chip,
[data-theme='modus-classic-dark'] modus-wc-chip .modus-wc-chip {
  &.modus-wc-btn {
    $modus-wc-chip-active-filled-bg: color-mix(
      in sRGB,
      var(--modus-wc-color-highlight-blue) 15%,
      transparent
    );

    background-color: var(--modus-wc-color-gray-1);
    border-color: transparent;
    box-sizing: border-box;
    color: var(--modus-wc-color-base-content);
    font-size: var(--modus-wc-font-size-md);

    // Sizes
    &.modus-wc-btn-sm {
      font-size: var(--modus-wc-font-size-md);
      height: var(--modus-wc-spacing-xl);
      min-height: var(--modus-wc-spacing-xl);
      padding: var(--modus-wc-spacing-xs) var(--modus-wc-spacing-sm);

      modus-wc-avatar .modus-wc-avatar > div {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-font-size-lg);
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-md);

        /* Constrains icon height to its font-size, preventing it from stretching to match the inherited line-height */
        line-height: 1;
      }
    }

    &.modus-wc-btn-md {
      font-size: var(--modus-wc-font-size-md);
      height: var(--modus-wc-spacing-2xl);
      min-height: var(--modus-wc-spacing-2xl);
      padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-md);

      modus-wc-avatar .modus-wc-avatar > div {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-lg);

        /* Constrains icon height to its font-size, preventing it from stretching to match the inherited line-height */
        line-height: 1;
      }
    }

    &.modus-wc-btn-lg {
      font-size: var(--modus-wc-font-size-xl);
      height: var(--modus-wc-spacing-3xl);
      min-height: var(--modus-wc-spacing-3xl);
      padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-lg);

      modus-wc-avatar .modus-wc-avatar > div {
        height: 18px;
        width: 18px;
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-xl);

        /* Constrains icon height to its font-size, preventing it from stretching to match the inherited line-height */
        line-height: 1;
      }
    }

    &.modus-wc-chip-multiline {
      height: auto;
      line-height: var(--modus-wc-line-height-md);
      text-align: start;
      white-space: normal;
    }

    // States
    &.modus-wc-chip--active {
      background-color: $modus-wc-chip-active-filled-bg;
      border-color: transparent;
      color: var(--modus-wc-color-base-content);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-primary);
        border-color: var(--modus-wc-color-primary);
        color: var(--modus-wc-color-primary);

        .modus-wc-chip-label {
          color: var(--modus-wc-color-base-content);
        }
      }
    }

    &.modus-wc-chip--error {
      background-color: var(--modus-wc-color-red-pale);
      border-color: transparent;
      color: var(--modus-wc-color-red-dark);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-red-pale);
        border-color: var(--modus-wc-color-red-dark);
      }
    }

    &.modus-wc-chip--outline {
      background-color: transparent;
      border-color: var(--modus-wc-color-base-100);
    }

    &:hover:not(.modus-wc-chip--active):not(.modus-wc-chip--error) {
      background-color: var(--modus-wc-color-base-100);
      border-color: transparent;
      color: var(--modus-wc-color-base-content);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-base-100);
        border-color: var(--modus-wc-color-base-200);
        color: var(--modus-wc-color-base-content);
      }
    }

    &:active:not(.modus-wc-chip--error):not(.modus-wc-chip--active) {
      background-color: $modus-wc-chip-active-filled-bg;
      border-color: transparent;
      color: var(--modus-wc-color-gray-10);

      &.modus-wc-chip--outline {
        background-color: $modus-wc-chip-active-filled-bg;

        .modus-wc-chip-label {
          color: var(--modus-wc-color-primary);
        }
      }
    }

    &:focus {
      outline-offset: 0;
    }
  }

  &.modus-wc-chip--disabled {
    opacity: 0.3;

    --tw-text-opacity: 1;

    .modus-wc-avatar {
      filter: grayscale(100%);
    }
  }

  .modus-wc-avatar {
    display: flex;
  }
}

// Dark Theme Styles
[data-theme='modus-classic-dark'] modus-wc-chip .modus-wc-chip {
  &.modus-wc-btn {
    $modus-wc-chip-outline-hover-bg: color-mix(
      in sRGB,
      var(--modus-wc-color-gray-1) 12%,
      transparent
    );
    $modus-wc-chip-outline-active-bg: color-mix(
      in sRGB,
      var(--modus-wc-color-blue-dark) 50%,
      transparent
    );

    background-color: var(--modus-wc-color-gray-1);
    border-color: var(--modus-wc-color-gray-1);
    color: var(--modus-wc-color-gray-9);

    &.modus-wc-chip--active {
      background-color: var(--modus-wc-color-highlight-blue);
      border-color: transparent;
      color: var(--modus-wc-color-gray-10);

      &.modus-wc-chip--outline {
        background-color: $modus-wc-chip-outline-active-bg;
        border-color: var(--modus-wc-color-highlight-blue);
        color: var(--modus-wc-color-gray-1);

        .modus-wc-chip-label {
          color: var(--modus-wc-color-gray-1);
        }
      }
    }

    &.modus-wc-chip--error {
      background-color: var(--modus-wc-color-red-pale);
      border-color: transparent;
      color: var(--modus-wc-color-red-dark);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-red-pale);
        border-color: var(--modus-wc-color-red-dark);
        color: var(--modus-wc-color-red-dark);
      }
    }

    &.modus-wc-chip--outline {
      background-color: transparent;
      border-color: var(--modus-wc-color-base-100);
      color: var(--modus-wc-color-gray-1);
    }

    &:hover:not(.modus-wc-chip--active):not(.modus-wc-chip--error) {
      background-color: var(--modus-wc-color-gray-0);
      border-color: transparent;
      color: var(--modus-wc-color-gray-9);

      &.modus-wc-chip--outline {
        background-color: $modus-wc-chip-outline-hover-bg;
        border-color: var(--modus-wc-color-base-200);
        color: var(--modus-wc-color-gray-1);
      }
    }

    &:active:not(.modus-wc-chip--error):not(.modus-wc-chip--active) {
      background-color: var(--modus-wc-color-highlight-blue);
      border-color: transparent;
      color: var(--modus-wc-color-gray-10);

      &.modus-wc-chip--outline {
        background-color: $modus-wc-chip-outline-active-bg;
        border-color: var(--modus-wc-color-highlight-blue);
        color: var(--modus-wc-color-gray-1);

        .modus-wc-chip-label {
          color: var(--modus-wc-color-gray-1);
        }
      }
    }
  }

  &.modus-wc-chip--disabled {
    opacity: 0.6;

    --tw-text-opacity: 1;
  }
}

[data-theme='connect-light'] modus-wc-chip .modus-wc-chip,
[data-theme='connect-dark'] modus-wc-chip .modus-wc-chip {
  &.modus-wc-btn {
    --rounded-btn: var(--modus-wc-border-radius-rounded);

    background-color: #eaeaef;
    border-radius: var(--modus-wc-border-radius-rounded);
    color: #6a6976;
    gap: 0;

    &:active,
    &:hover:not(.modus-wc-chip--active):not(.modus-wc-chip--error),
    &:focus {
      background-color: #eaeaef;
      color: #6a6976;

      .modus-wc-chip-label {
        color: #6a6976;
      }
    }

    &:has(.modus-wc-chip-remove-icon) {
      overflow: hidden;
      padding-inline-end: 0;
    }

    &:has(.modus-wc-chip-remove-icon):not(.modus-wc-chip-multiline) {
      padding-block: 0;
    }

    modus-wc-icon:has(.modus-wc-chip-remove-icon) {
      align-items: center;
      align-self: stretch;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      display: inline-flex;
      flex-shrink: 0;
      height: 100%;
      justify-content: center;
      line-height: 0;
      width: auto;

      &:hover {
        background-color: #d0d0d7;
      }
    }

    &.modus-wc-chip-multiline {
      &.modus-wc-btn-sm modus-wc-icon:has(.modus-wc-chip-remove-icon) {
        height: var(--modus-wc-spacing-xl);
        min-width: var(--modus-wc-spacing-xl);
        width: var(--modus-wc-spacing-xl);
      }

      &.modus-wc-btn-md modus-wc-icon:has(.modus-wc-chip-remove-icon) {
        height: var(--modus-wc-spacing-2xl);
        min-width: var(--modus-wc-spacing-2xl);
        width: var(--modus-wc-spacing-2xl);
      }

      &.modus-wc-btn-lg modus-wc-icon:has(.modus-wc-chip-remove-icon) {
        height: var(--modus-wc-spacing-3xl);
        min-width: var(--modus-wc-spacing-3xl);
        width: var(--modus-wc-spacing-3xl);
      }

      modus-wc-icon:has(.modus-wc-chip-remove-icon) {
        align-self: center;
      }
    }

    .modus-wc-chip-remove-icon {
      border-radius: 50%;
      color: #6a6976;
    }

    &.modus-wc-btn-sm .modus-wc-chip-remove-icon {
      font-size: var(--modus-wc-font-size-sm);
    }

    &.modus-wc-btn-md .modus-wc-chip-remove-icon {
      font-size: var(--modus-wc-font-size-lg);
    }

    &.modus-wc-btn-lg .modus-wc-chip-remove-icon {
      font-size: var(--modus-wc-font-size-3xl);
    }
  }
}
