/* stylelint-disable selector-class-pattern */

/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

// Default Styles
modus-wc-chip .modus\:chip {
  &.modus\:btn {
    background-color: var(--modus-wc-color-base-100);
    border-color: transparent;
    box-sizing: border-box;
    color: var(--modus-wc-color-base-content);

    --rounded-btn: #{var(--modus-wc-border-radius-chip)};

    // Sizes
    &.modus\:btn-sm {
      height: var(--modus-wc-spacing-xl);
      min-height: var(--modus-wc-spacing-xl);
      padding: var(--modus-wc-spacing-xs) var(--modus-wc-spacing-sm);

      .modus\:avatar {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }

      .modus\:chip-remove-icon {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }
    }

    &.modus\:btn-md {
      height: var(--modus-wc-spacing-2xl);
      min-height: var(--modus-wc-spacing-2xl);
      padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-sm);

      .modus\:avatar {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }

      .modus\:chip-remove-icon {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }
    }

    &.modus\:btn-lg {
      height: var(--modus-wc-spacing-3xl);
      min-height: var(--modus-wc-spacing-3xl);
      padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-md);

      .modus\:avatar {
        height: var(--modus-wc-spacing-xl);
        width: var(--modus-wc-spacing-xl);
      }

      .modus\:chip-remove-icon {
        height: var(--modus-wc-spacing-xl);
        width: var(--modus-wc-spacing-xl);
      }
    }

    // States
    &.modus\:chip--active {
      background-color: var(--modus-wc-color-primary);
      border-color: transparent;
      color: var(--modus-wc-color-base-content);

      &.modus\:chip--outline {
        background-color: var(--modus-wc-color-primary);
        border-color: var(--modus-wc-color-primary);
        color: var(--modus-wc-color-primary);

        .modus\:chip-label {
          color: var(--modus-wc-color-base-content);
        }
      }
    }

    &.modus\:chip--error {
      background-color: var(--modus-wc-color-red-pale);
      border-color: transparent;
      color: var(--modus-wc-color-red-dark);

      &.modus\:chip--outline {
        background-color: var(--modus-wc-color-red-pale);
        border-color: var(--modus-wc-color-red-dark);
      }
    }

    &.modus\:chip--outline {
      background-color: transparent;
      border-color: var(--modus-wc-color-base-200);
    }

    &:hover:not(.modus\:chip--active):not(.modus\:chip--error) {
      background-color: var(--modus-wc-color-base-100);
      border-color: transparent;
      color: var(--modus-wc-color-base-content);

      &.modus\:chip--outline {
        background-color: var(--modus-wc-color-base-100);
        border-color: var(--modus-wc-color-base-200);
        color: var(--modus-wc-color-base-content);
      }
    }

    &:active:not(.modus\:chip--error):not(.modus\:chip--active) {
      background-color: var(--modus-wc-color-primary);
      border-color: transparent;
      color: var(--modus-wc-color-primary-content);

      &.modus\:chip--outline {
        background-color: var(--modus-wc-color-base-100);
        background-color: transparent;
        border-color: var(--modus-wc-color-primary);
        color: var(--modus-wc-color-primary);

        .modus\:chip-label {
          color: var(--modus-wc-color-primary);
        }
      }
    }

    &:focus {
      outline-offset: 0;
    }
  }

  &.modus\:chip--disabled {
    opacity: 0.3;

    .modus\:avatar {
      filter: grayscale(100%);
    }
  }

  .modus\:avatar {
    display: flex;
  }
}

[data-theme='modus-classic-light'] modus-wc-chip .modus\:chip,
[data-theme='modus-classic-dark'] modus-wc-chip .modus\:chip {
  &.modus\:btn {
    $modus-wc-chip-active-filled-bg: color-mix(
      in sRGB,
      var(--modus-wc-color-highlight-blue) 15%,
      transparent
    );

    background-color: var(--modus-wc-color-gray-1);
    border-color: transparent;
    box-sizing: border-box;
    color: var(--modus-wc-color-base-content);
    font-size: var(--modus-wc-font-size-md);

    --rounded-btn: #{var(--modus-wc-border-radius-xl)};

    // Sizes
    &.modus\:btn-sm {
      font-size: var(--modus-wc-font-size-md);
      height: var(--modus-wc-spacing-xl);
      min-height: var(--modus-wc-spacing-xl);
      padding: var(--modus-wc-spacing-xs) var(--modus-wc-spacing-sm);

      .modus\:avatar {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }

      .modus\:chip-remove-icon {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }
    }

    &.modus\:btn-md {
      font-size: var(--modus-wc-font-size-md);
      height: var(--modus-wc-spacing-2xl);
      min-height: var(--modus-wc-spacing-2xl);
      padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-md);

      --rounded-btn: #{var(--modus-wc-border-radius-2xl)};

      .modus\:avatar {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }

      .modus\:chip-remove-icon {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }
    }

    &.modus\:btn-lg {
      font-size: var(--modus-wc-font-size-xl);
      height: var(--modus-wc-spacing-3xl);
      min-height: var(--modus-wc-spacing-3xl);
      padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-lg);

      --rounded-btn: #{var(--modus-wc-border-radius-3xl)};

      .modus\:avatar {
        height: var(--modus-wc-spacing-xl);
        width: var(--modus-wc-spacing-xl);
      }

      .modus\:chip-remove-icon {
        height: var(--modus-wc-spacing-xl);
        width: var(--modus-wc-spacing-xl);
      }
    }

    // States
    &.modus\:chip--active {
      background-color: $modus-wc-chip-active-filled-bg;
      border-color: transparent;
      color: var(--modus-wc-color-base-content);

      &.modus\:chip--outline {
        background-color: var(--modus-wc-color-primary);
        border-color: var(--modus-wc-color-primary);
        color: var(--modus-wc-color-primary);

        .modus\:chip-label {
          color: var(--modus-wc-color-base-content);
        }
      }
    }

    &.modus\:chip--error {
      background-color: var(--modus-wc-color-red-pale);
      border-color: transparent;
      color: var(--modus-wc-color-red-dark);

      &.modus\:chip--outline {
        background-color: var(--modus-wc-color-red-pale);
        border-color: var(--modus-wc-color-red-dark);
      }
    }

    &.modus\:chip--outline {
      background-color: transparent;
      border-color: var(--modus-wc-color-base-200);
    }

    &:hover:not(.modus\:chip--active):not(.modus\:chip--error) {
      background-color: var(--modus-wc-color-base-100);
      border-color: transparent;
      color: var(--modus-wc-color-base-content);

      &.modus\:chip--outline {
        background-color: var(--modus-wc-color-base-100);
        border-color: var(--modus-wc-color-base-200);
        color: var(--modus-wc-color-base-content);
      }
    }

    &:active:not(.modus\:chip--error):not(.modus\:chip--active) {
      background-color: $modus-wc-chip-active-filled-bg;
      border-color: transparent;
      color: var(--modus-wc-color-gray-10);

      &.modus\:chip--outline {
        background-color: var(--modus-wc-color-base-100);
        background-color: transparent;
        background-color: $modus-wc-chip-active-filled-bg;
        background-color: $modus-wc-chip-active-filled-bg;

        .modus\:chip-label {
          color: var(--modus-wc-color-primary);
        }
      }
    }

    &:focus {
      outline-offset: 0;
    }
  }

  &.modus\:chip--disabled {
    opacity: 0.3;

    .modus\:avatar {
      filter: grayscale(100%);
    }
  }

  .modus\:avatar {
    display: flex;
  }
}

// Dark Theme Styles
[data-theme='modus-classic-dark'] modus-wc-chip .modus\:chip {
  &.modus\:btn {
    $modus-wc-chip-outline-hover-bg: color-mix(
      in sRGB,
      var(--modus-wc-color-gray-1) 12%,
      transparent
    );
    $modus-wc-chip-outline-active-bg: color-mix(
      in sRGB,
      var(--modus-wc-color-blue-dark) 50%,
      transparent
    );

    background-color: var(--modus-wc-color-gray-1);
    border-color: var(--modus-wc-color-gray-1);
    color: var(--modus-wc-color-gray-9);

    &.modus\:chip--active {
      background-color: var(--modus-wc-color-highlight-blue);
      border-color: transparent;
      color: var(--modus-wc-color-gray-10);

      &.modus\:chip--outline {
        background-color: $modus-wc-chip-outline-active-bg;
        border-color: var(--modus-wc-color-highlight-blue);
        color: var(--modus-wc-color-gray-1);

        .modus\:chip-label {
          color: var(--modus-wc-color-gray-1);
        }
      }
    }

    &.modus\:chip--error {
      background-color: var(--modus-wc-color-red-pale);
      border-color: transparent;
      color: var(--modus-wc-color-red-dark);

      &.modus\:chip--outline {
        background-color: var(--modus-wc-color-red-pale);
        border-color: var(--modus-wc-color-red-dark);
        color: var(--modus-wc-color-red-dark);
      }
    }

    &.modus\:chip--outline {
      background-color: transparent;
      border-color: var(--modus-wc-color-gray-1);
      color: var(--modus-wc-color-gray-1);
    }

    &:hover:not(.modus\:chip--active):not(.modus\:chip--error) {
      background-color: var(--modus-wc-color-gray-0);
      border-color: transparent;
      color: var(--modus-wc-color-gray-9);

      &.modus\:chip--outline {
        background-color: $modus-wc-chip-outline-hover-bg;
        border-color: var(--modus-wc-color-gray-5);
        color: var(--modus-wc-color-gray-1);
      }
    }

    &:active:not(.modus\:chip--error):not(.modus\:chip--active) {
      background-color: var(--modus-wc-color-highlight-blue);
      border-color: transparent;
      color: var(--modus-wc-color-gray-10);

      &.modus\:chip--outline {
        background-color: $modus-wc-chip-outline-active-bg;
        border-color: var(--modus-wc-color-highlight-blue);
        color: var(--modus-wc-color-gray-1);

        .modus\:chip-label {
          color: var(--modus-wc-color-gray-1);
        }
      }
    }
  }

  &.modus\:chip--disabled {
    opacity: 0.6;
  }
}
