/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

// Default Styles
modus-wc-chip .modus-wc-chip {
  &.modus-wc-btn {
    background-color: var(--modus-wc-color-base-100);
    border-color: transparent;
    box-sizing: border-box;

    --rounded-btn: #{var(--modus-wc-border-radius-chip)};

    &.modus-wc-chip--circle {
      --rounded-btn: var(--modus-wc-border-radius-3xl);
    }

    @include common-states;
    @include sizing-tokens;

    // Sizes
    &.modus-wc-btn-sm {
      height: var(--modus-wc-spacing-xl);
      min-height: var(--modus-wc-spacing-xl);
      padding: var(--modus-wc-spacing-xs) var(--modus-wc-spacing-sm);

      .modus-wc-avatar {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-md);
        line-height: 1;
      }
    }

    &.modus-wc-btn-md {
      height: var(--modus-wc-spacing-2xl);
      min-height: var(--modus-wc-spacing-2xl);
      padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-sm);

      .modus-wc-avatar {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-lg);
        line-height: 1;
      }
    }

    &.modus-wc-btn-lg {
      height: var(--modus-wc-spacing-3xl);
      min-height: var(--modus-wc-spacing-3xl);
      padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-md);

      .modus-wc-avatar {
        height: var(--modus-wc-spacing-xl);
        width: var(--modus-wc-spacing-xl);
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-xl);
        line-height: 1;
      }
    }

    // States
    &.modus-wc-chip--active {
      background-color: var(--modus-wc-color-primary-pale);
      border-color: transparent;

      // color: var(--modus-wc-color-base-content);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-primary-pale);
        border-color: var(--modus-wc-color-primary);
        color: var(--modus-wc-color-primary);

        .modus-wc-chip-label {
          color: var(--modus-wc-color-primary);
        }
      }
    }

    &.modus-wc-chip--error {
      background-color: var(--modus-wc-color-red-pale);
      border-color: transparent;
      color: var(--modus-wc-color-red-dark);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-red-pale);
        border-color: var(--modus-wc-color-red-dark);
      }
    }

    &.modus-wc-chip--outline {
      background-color: var(--modus-wc-color-base-page);
      border-color: var(--modus-wc-color-base-200);
    }

    &:hover:not(.modus-wc-chip--active):not(.modus-wc-chip--error) {
      color: var(--modus-wc-color-base-content);

      &.modus-wc-chip--outline {
        border-color: var(--modus-wc-color-base-200);

        // color: var(--modus-wc-color-base-content);
      }
    }

    &:active:not(.modus-wc-chip--error):not(.modus-wc-chip--active) {
      border-color: transparent;

      // color: var(--modus-wc-color-primary-content);

      &.modus-wc-chip--outline {
        background-color: transparent;
        border-color: var(--modus-wc-color-primary);
        color: var(--modus-wc-color-primary);

        .modus-wc-chip-label {
          color: var(--modus-wc-color-primary);
        }
      }
    }

    &:focus {
      outline-offset: 0;
    }
  }

  &.modus-wc-chip--disabled {
    opacity: 0.3;

    --tw-text-opacity: 1;

    .modus-wc-avatar {
      filter: grayscale(100%);
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-chip .modus-wc-chip,
[data-theme='modus-classic-dark'] modus-wc-chip .modus-wc-chip {
  &.modus-wc-btn {
    $modus-wc-chip-active-filled-bg: color-mix(
      in sRGB,
      var(--modus-wc-color-highlight-blue) 15%,
      transparent
    );

    background-color: var(--modus-wc-color-gray-1);
    border-color: transparent;
    box-sizing: border-box;
    color: var(--modus-wc-color-base-content);
    font-size: var(--modus-wc-font-size-md);

    // Sizes
    &.modus-wc-btn-sm {
      font-size: var(--modus-wc-font-size-md);
      height: var(--modus-wc-spacing-xl);
      min-height: var(--modus-wc-spacing-xl);
      padding: var(--modus-wc-spacing-xs) var(--modus-wc-spacing-sm);

      .modus-wc-avatar {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-md);
        line-height: 1;
      }
    }

    &.modus-wc-btn-md {
      font-size: var(--modus-wc-font-size-md);
      height: var(--modus-wc-spacing-2xl);
      min-height: var(--modus-wc-spacing-2xl);
      padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-md);

      .modus-wc-avatar {
        height: var(--modus-wc-spacing-lg);
        width: var(--modus-wc-spacing-lg);
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-lg);
        line-height: 1;
      }
    }

    &.modus-wc-btn-lg {
      font-size: var(--modus-wc-font-size-xl);
      height: var(--modus-wc-spacing-3xl);
      min-height: var(--modus-wc-spacing-3xl);
      padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-lg);

      .modus-wc-avatar {
        height: var(--modus-wc-spacing-xl);
        width: var(--modus-wc-spacing-xl);
      }

      .modus-wc-chip-remove-icon {
        font-size: var(--modus-wc-font-size-xl);
        line-height: 1;
      }
    }

    // States
    &.modus-wc-chip--active {
      background-color: $modus-wc-chip-active-filled-bg;
      border-color: transparent;
      color: var(--modus-wc-color-base-content);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-primary);
        border-color: var(--modus-wc-color-primary);
        color: var(--modus-wc-color-primary);

        .modus-wc-chip-label {
          color: var(--modus-wc-color-base-content);
        }
      }
    }

    &.modus-wc-chip--error {
      background-color: var(--modus-wc-color-red-pale);
      border-color: transparent;
      color: var(--modus-wc-color-red-dark);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-red-pale);
        border-color: var(--modus-wc-color-red-dark);
      }
    }

    &.modus-wc-chip--outline {
      background-color: transparent;
      border-color: var(--modus-wc-color-base-200);
    }

    &:hover:not(.modus-wc-chip--active):not(.modus-wc-chip--error) {
      background-color: var(--modus-wc-color-base-100);
      border-color: transparent;
      color: var(--modus-wc-color-base-content);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-base-100);
        border-color: var(--modus-wc-color-base-200);
        color: var(--modus-wc-color-base-content);
      }
    }

    &:active:not(.modus-wc-chip--error):not(.modus-wc-chip--active) {
      background-color: $modus-wc-chip-active-filled-bg;
      border-color: transparent;
      color: var(--modus-wc-color-gray-10);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-base-100);
        background-color: transparent;
        background-color: $modus-wc-chip-active-filled-bg;
        background-color: $modus-wc-chip-active-filled-bg;

        .modus-wc-chip-label {
          color: var(--modus-wc-color-primary);
        }
      }
    }

    &:focus {
      outline-offset: 0;
    }
  }

  &.modus-wc-chip--disabled {
    opacity: 0.3;

    --tw-text-opacity: 1;

    .modus-wc-avatar {
      filter: grayscale(100%);
    }
  }

  .modus-wc-avatar {
    display: flex;
  }
}

// Dark Theme Styles
[data-theme='modus-classic-dark'] modus-wc-chip .modus-wc-chip {
  &.modus-wc-btn {
    $modus-wc-chip-outline-hover-bg: color-mix(
      in sRGB,
      var(--modus-wc-color-gray-1) 12%,
      transparent
    );
    $modus-wc-chip-outline-active-bg: color-mix(
      in sRGB,
      var(--modus-wc-color-blue-dark) 50%,
      transparent
    );

    background-color: var(--modus-wc-color-gray-1);
    border-color: var(--modus-wc-color-gray-1);
    color: var(--modus-wc-color-gray-9);

    &.modus-wc-chip--active {
      background-color: var(--modus-wc-color-highlight-blue);
      border-color: transparent;
      color: var(--modus-wc-color-gray-10);

      &.modus-wc-chip--outline {
        background-color: $modus-wc-chip-outline-active-bg;
        border-color: var(--modus-wc-color-highlight-blue);
        color: var(--modus-wc-color-gray-1);

        .modus-wc-chip-label {
          color: var(--modus-wc-color-gray-1);
        }
      }
    }

    &.modus-wc-chip--error {
      background-color: var(--modus-wc-color-red-pale);
      border-color: transparent;
      color: var(--modus-wc-color-red-dark);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-red-pale);
        border-color: var(--modus-wc-color-red-dark);
        color: var(--modus-wc-color-red-dark);
      }
    }

    &.modus-wc-chip--outline {
      background-color: transparent;
      border-color: var(--modus-wc-color-gray-1);
      color: var(--modus-wc-color-gray-1);
    }

    &:hover:not(.modus-wc-chip--active):not(.modus-wc-chip--error) {
      background-color: var(--modus-wc-color-gray-0);
      border-color: transparent;
      color: var(--modus-wc-color-gray-9);

      &.modus-wc-chip--outline {
        background-color: $modus-wc-chip-outline-hover-bg;
        border-color: var(--modus-wc-color-gray-5);
        color: var(--modus-wc-color-gray-1);
      }
    }

    &:active:not(.modus-wc-chip--error):not(.modus-wc-chip--active) {
      background-color: var(--modus-wc-color-highlight-blue);
      border-color: transparent;
      color: var(--modus-wc-color-gray-10);

      &.modus-wc-chip--outline {
        background-color: $modus-wc-chip-outline-active-bg;
        border-color: var(--modus-wc-color-highlight-blue);
        color: var(--modus-wc-color-gray-1);

        .modus-wc-chip-label {
          color: var(--modus-wc-color-gray-1);
        }
      }
    }
  }

  &.modus-wc-chip--disabled {
    opacity: 0.6;

    --tw-text-opacity: 1;
  }
}
