/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus-wc-menu {
  border-radius: var(--modus-wc-border-radius-sm);
  padding: 0;

  li {
    border-radius: var(--modus-wc-border-radius-sm);

    &.modus-wc-disabled {
      a {
        pointer-events: none;
      }
    }
  }
}

[data-theme='modus-classic-light'] .modus-wc-menu {
  border-color: var(--modus-wc-color-gray-0);

  li {
    &.modus-wc-disabled {
      color: var(--modus-wc-color-gray-2);
    }

    &:hover {
      --fallback-b1: var(--modus-wc-color-gray-0);
    }

    a {
      &.modus-wc-active {
        --fallback-n: var(--modus-wc-color-blue-pale);
      }
    }
  }
}

[data-theme='modus-classic-dark'] .modus-wc-menu {
  border-color: var(--modus-wc-color-gray-8);

  li {
    &.modus-wc-disabled {
      color: var(--modus-wc-color-gray-6);
    }

    &:hover {
      --fallback-b1: var(--modus-wc-color-gray-8);
    }

    a {
      &.modus-wc-active {
        --fallback-n: var(--modus-wc-color-highlight-blue);
      }
    }
  }
}