/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus-wc-collapse {
  modus-wc-icon {
    height: 24px;
    margin-inline-end: var(--modus-wc-spacing-sm);
  }
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
  &.modus-wc-collapse-arrow.modus-wc-border.modus-wc-collapse-open {
    .modus-wc-collapse-content {
      padding: 1rem;
    }
  }
}

.modus-wc-collapse-arrow > .modus-wc-collapse-title:after {
  top: 50%;
}

[data-theme='modus-classic-light'] .modus-wc-collapse,
[data-theme='modus-classic-dark'] .modus-wc-collapse {
  border-radius: var(--modus-wc-border-radius-md);

  .modus-wc-collapse-title {
    min-height: unset;
    width: auto;
  }
}

[data-theme='modus-classic-light'] .modus-wc-collapse {
  background-color: var(--modus-wc-color-white);
  &.modus-wc-collapse-arrow.modus-wc-border.modus-wc-collapse-open {
    border-left: 4px solid var(--modus-wc-color-trimble-blue);
    .modus-wc-collapse-title {
      padding-left: 12px;
      background-color: var(--modus-wc-color-blue-pale);
    }
  }
}

[data-theme='modus-classic-dark'] .modus-wc-collapse {
  background-color: var(--modus-wc-color-trimble-gray);
  &.modus-wc-collapse-arrow.modus-wc-border.modus-wc-collapse-open {
    border-left: 4px solid var(--modus-wc-color-highlight-blue);
    .modus-wc-collapse-title {
      padding-left: 12px;
      background-color: color-mix(
        in srgb,
        var(--modus-wc-color-highlight-blue) 30%,
        transparent
      );
    }
  }
}
