@import 'mixins';
@import 'modus-variables';

// Reset styles
*,
*::before,
*::after {}

// Storybook styles
body.sb-show-main.sb-main-padded {
  display: flex;
  justify-content: center;
  padding-bottom: var(--modus-wc-spacing-xl);
}
