.modus-wc-input-label {
  .required-indicator {
    color: var(--modus-wc-color-error);
  }
}

[data-theme='modus-classic-light'] .modus-wc-input-label {
  color: #464b52;
}

[data-theme='modus-classic-dark'] .modus-wc-input-label {
  color: #b7b9c3;
}
