.modus-wc-input-label {
  .required-indicator {
    color: var(--modus-wc-color-error);
  }
}

[data-theme='modus-classic-light'] .modus-wc-input-label{
  color: #464B52;
}

[data-theme='modus-classic-dark'] .modus-wc-input-label{
  color: #B7B9C3;
}