modus-wc-side-navigation {
  display: block;
  height: 100vh;

  .modus-wc-side-navigation {
    background: var(--modus-wc-color-white, #fff);
    box-shadow: rgba(36, 35, 45, 0.3) 1px 0 4px;
    color: var(--modus-wc-color-trimble-gray, #252a2e);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 4rem;
    overflow: hidden;
    position: absolute;
    transition: width 0.2s ease-out;
    width: 4rem;
    z-index: 999;

    &.expanded {
      min-width: 256px;
      width: 256px;
    }
  }

  .side-navigation-content {
    background: var(--modus-wc-color-white, #fff);
    color: var(--modus-wc-color-trimble-gray, #252a2e);
    flex: 1 1 auto;
    overflow-y: auto;

    .side-nav-menu {
      margin: unset;
      padding: unset;
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-side-navigation,
[data-theme='modus-classic-dark'] modus-wc-side-navigation {
  .side-nav-panel,
  .side-navigation-content {
    background: var(--modus-wc-color-trimble-gray);
    color: var(--modus-wc-color-white);
  }
}

[data-theme='modus-classic-light'] modus-wc-side-navigation {
  .side-nav-panel,
  .side-navigation-content {
    background: var(--modus-wc-color-white, #fff);
    color: var(--modus-wc-color-gray-10);
  }
}
