modus-wc-side-navigation {
  display: block;
  height: 100vh;
  position: relative;

  .modus-wc-side-navigation {
    background: var(--modus-wc-color-base-page);
    box-shadow: rgba(36, 35, 45, 0.3) 1px 0 4px;
    color: var(--modus-wc-color-base-content);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    max-height: 100vh;
    min-height: 0;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    transition: width 0.2s ease-out;
    z-index: 999;
  }

  .side-navigation-content {
    color: var(--modus-wc-color-base-content);
    flex: 1 1 auto;
  }

  modus-wc-menu .modus-wc-menu {
    background-color: transparent;
    border-radius: 0;
  }

  modus-wc-menu-item .modus-wc-menu-item button {
    background-color: transparent;
    border-radius: 0;
    padding: var(--modus-wc-spacing-md) 1.25rem;
  }
}

[data-theme='modus-modern-light'] modus-wc-side-navigation {
  .modus-wc-side-navigation {
    background-image: url('dist/styles/assets/Sidenavpattern.svg');
    background-size: cover;
    box-shadow: none;
  }
}

[data-theme='modus-modern-dark'] modus-wc-side-navigation {
  .modus-wc-side-navigation {
    background: var(--modus-wc-color-trimble-gray);
    background-image: url('dist/styles/assets/Sidenavdarkpattern.svg');
    background-size: cover;
    box-shadow: none;
  }
}

[data-theme='modus-classic-dark'] modus-wc-side-navigation {
  .side-navigation-content {
    background: var(--modus-wc-color-gray-10);
    color: var(--modus-wc-color-white);
  }

  modus-wc-menu .modus-wc-menu {
    background: transparent;
    color: var(--modus-wc-color-white);

    &button:hover {
      background: var(--modus-wc-color-primary);
      color: var(--modus-wc-color-primary-content);
    }
  }
}

[data-theme='connect-light'] modus-wc-side-navigation,
[data-theme='connect-dark'] modus-wc-side-navigation {
  .modus-wc-side-navigation {
    background: transparent;
    box-shadow: none;
    color: var(--modus-wc-color-primary-content);

    &:hover {
      background: var(--modus-wc-color-primary);
    }
  }

  &li.modus-wc-menu-item {
    background: transparent;
    color: var(--modus-wc-color-primary-content);

    &:hover {
      background: var(--modus-wc-color-primary);
      color: var(--modus-wc-color-primary-content);
    }
  }

  .side-navigation-content {
    background: var(--modus-wc-color-blue-dark);
    color: var(--modus-wc-color-base-content);
    flex: 1 1 auto;

    &button:hover {
      background: var(--modus-wc-color-primary);
    }
  }

  modus-wc-menu .modus-wc-menu {
    background: transparent;
    color: var(--modus-wc-color-white);

    &button:hover {
      background: var(--modus-wc-color-primary);
      color: var(--modus-wc-color-white);
    }
  }

  modus-wc-menu-item .modus-wc-menu-item {
    color: var(--modus-wc-color-white);
  }

  modus-wc-menu-item .modus-wc-menu-item button {
    &:hover {
      background: var(--modus-wc-color-trimble-blue);
      color: var(--modus-wc-color-white);
    }

    &:focus {
      color: var(--modus-wc-color-white);
    }
  }

  modus-wc-menu-item .modus-wc-menu-item.modus-wc-menu-item-selected button {
    background: var(--modus-wc-color-blue-light);
    color: var(--modus-wc-color-white);
    font-weight: var(--modus-wc-font-weight-semibold);

    &:hover {
      background: var(--modus-wc-color-primary);
      color: var(--modus-wc-color-white);
    }
  }
}
