.modus-icons {
  &.modus-wc-icon--xs {
    font-size: 1rem;
  }

  &.modus-wc-icon--sm {
    font-size: 1.25rem;
  }

  &.modus-wc-icon--md {
    font-size: 1.5rem;
  }

  &.modus-wc-icon--lg {
    font-size: 2rem;
  }

  &.modus-wc-icon--xl {
    font-size: 4rem;
  }
}
