.modus-icons {
  &.modus-wc-icon--sm {
    font-size: var(--modus-wc-font-size-lg);
  }

  &.modus-wc-icon--md {
    font-size: var(--modus-wc-font-size-3xl);
  }

  &.modus-wc-icon--lg {
    font-size: var(--modus-wc-font-size-5xl);
  }
}
