/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-stepper .modus-wc-steps .modus-wc-step {
  --fallback-b3: var(--modus-wc-color-base-200);
}

modus-wc-stepper .modus-wc-stepper-interactive .modus-wc-step::before,
modus-wc-stepper .modus-wc-stepper-interactive .modus-wc-step::after {
  pointer-events: none;
}

modus-wc-stepper .modus-wc-stepper-step-button {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  grid-column-start: 1;
  grid-row-start: 1;
  height: 44px;
  margin: 0;
  padding: 0;
  place-self: center;
  position: relative;
  width: 44px;
  z-index: 2;
}

modus-wc-stepper .modus-wc-stepper-step-button:focus-visible {
  outline: none;
}

modus-wc-stepper .modus-wc-steps .modus-wc-stepper-step-text {
  display: flex;
  flex-direction: column;
  gap: var(--modus-wc-spacing-2xs);
}

modus-wc-stepper .modus-wc-steps .modus-wc-stepper-step-label {
  font-weight: var(--modus-wc-font-weight-bold);
}

modus-wc-stepper .modus-wc-steps .modus-wc-stepper-step-sublabel {
  font-weight: var(--modus-wc-font-weight-normal);
}

modus-wc-stepper .modus-wc-steps-vertical .modus-wc-stepper-step-text {
  text-align: start;
}
