$font-family: var(--modus-wc-font-family);
$primary-color: var(--modus-wc-text-color);
$background-color: var(--modus-wc-bg-color);;
$code-background: var(--modus-wc-grey-900);
$code-color: var(--modus-wc-color-white);
$blockquote-border: var(--modus-wc-border-color);
$blockquote-color: #6a737d;
$table-border: var(--modus-wc-border-color);
$table-alt-background: #f6f8fa;

.stencil-docs {
  font-family: $font-family;
  line-height: 1.6;
  color: $primary-color;
  background-color: $background-color;
  padding: 0 var(--modus-wc-spacing-md);
  max-width: 1200px;

  h1, h2, h3, h4, h5, h6 {
    margin-top: 16px;
    margin-bottom: 12px;
    font-weight: 600;
    line-height: 1.25;
  }

  code {
    background-color: $code-background;
    border-radius: 3px;
    color: $code-color;
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
  }

  pre {
    background-color: $code-background;
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;

    code {
      background-color: transparent;
      padding: 0;
    }
  }

  blockquote {
    border-left: .25em solid $blockquote-border;
    color: $blockquote-color;
    padding: 0 1em;
  }

  ul, ol {
    padding-left: 2em;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    overflow-x: auto;
    width: 100%;

    th, td {
      border: 1px solid $table-border;
      padding: 6px 13px;
    }

    tr {
      background-color: $background-color;
      border-top: 1px solid $table-border;

      &:nth-child(2n) {
        background-color: $table-alt-background;
      }
    }
  }

  &--dark-mode, &--high-contrast-mode {
    tr:nth-child(2n) {
      background-color: $background-color !important;
    }
  }
}