/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus-wc-tab modus-wc-icon + span,
.modus-wc-tab span + modus-wc-icon {
  padding-left: 8px;
}

.modus-wc-tab {
  display: inline-flex;
  align-items: center;

  font-weight: 700;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  --tab-border: 0px; //! This is rendered as 1px due to a calc(+1)

  // For centering purposes
  modus-wc-icon {
    .modus-wc-icon--xs {
      line-height: 1.25rem;
    }
    .modus-wc-icon--sm {
      line-height: 1.5rem;
    }
    .modus-wc-icon--md {
      line-height: 2rem;
    }
    .modus-wc-icon--lg {
      line-height: 3rem;
    }
  }
}

[data-theme='modus-classic-light'] .modus-wc-tab {
  --tab-color: var(--modus-wc-color-trimble-gray);
  --tab-bg: var(--modus-wc-color-white);

  --fallback-bc: var(--modus-wc-color-gray-2);

  &:not(.modus-wc-tab-active):not(.modus-wc-tab-disabled):hover {
    background-color: var(--modus-wc-color-gray-0);
  }

  &:not(.modus-wc-tab-disabled):active {
    --tab-color: var(--modus-wc-color-white);
    // Unfortunately needed, otherwise browsers sometimes don't apply.
    background-color: var(--modus-wc-color-trimble-blue) !important;
  }

  &.modus-wc-tab-active {
    --tab-color: var(--modus-wc-color-white);
    --tab-bg: var(--modus-wc-color-blue-light);
    background-color: var(--modus-wc-color-blue-light);
    --fallback-p: var(--modus-wc-color-blue-light);

    --fallback-bc: transparent;
  }
}

[data-theme='modus-classic-dark'] .modus-wc-tab {
  --tab-color: var(--modus-wc-color-white);
  --tab-bg: var(--modus-wc-color-gray-10);
  background-color: var(--modus-wc-color-gray-10);

  --fallback-bc: var(--modus-wc-color-gray-8);

  &:not(.modus-wc-tab-active):not(.modus-wc-tab-disabled):hover {
    background-color: var(--modus-wc-color-gray-8);
  }

  &:not(.modus-wc-tab-disabled):active {
    // Unfortunately needed, otherwise browsers sometimes don't apply.
    background-color: var(--modus-wc-color-trimble-blue) !important;
  }

  &.modus-wc-tab-active {
    --tab-color: var(--modus-wc-color-white);
    --tab-bg: var(--modus-wc-color-blue-light);
    background-color: var(--modus-wc-color-blue-light);
    --fallback-p: var(--modus-wc-color-blue-light);

    --fallback-bc: var(--modus-wc-color-highlight-blue);
    border-width: 1px;
  }

  &.modus-wc-tab-disabled {
    --tab-color: #fff;
    background-color: var(--modus-wc-color-trimble-gray);
  }
}
