@trimble-cms:registry=https://artifactory.trimble.tools/artifactory/api/npm/trimble-cms-trimble-accounting-npm/
//artifactory.trimble.tools/artifactory/api/npm/trimble-cms-trimble-accounting-npm/:_authToken=${NPM_TOKEN}

registry=https://registry.npmjs.org/