/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-typography {
  h1.modus-wc-typography {
    font-size: var(--modus-wc-font-size-3xl);
    font-weight: var(--modus-wc-font-weight-normal);
    letter-spacing: 0.5px;
    line-height: 36px;
  }

  h2.modus-wc-typography {
    font-size: var(--modus-wc-font-size-2xl);
    font-weight: var(--modus-wc-font-weight-normal);
    letter-spacing: 0.15px;
    line-height: 30px;
  }

  h3.modus-wc-typography {
    font-size: var(--modus-wc-font-size-xl);
    font-weight: var(--modus-wc-font-weight-semibold);
    letter-spacing: 0.15px;
    line-height: 27px;
  }

  h4.modus-wc-typography {
    font-size: var(--modus-wc-font-size-lg);
    font-weight: var(--modus-wc-font-weight-semibold);
    letter-spacing: 0.15px;
    line-height: 24px;
  }

  h5.modus-wc-typography {
    font-size: var(--modus-wc-font-size-md);
    font-weight: var(--modus-wc-font-weight-bold);
    letter-spacing: 0.45px;
    line-height: 24px;
  }

  h6.modus-wc-typography {
    font-size: var(--modus-wc-font-size-sm);
    font-weight: var(--modus-wc-font-weight-bold);
    letter-spacing: 0.45px;
    line-height: 18px;
  }

  .modus-wc-typography-weight-light {
    font-weight: var(--modus-wc-font-weight-light);
  }

  .modus-wc-typography-weight-normal {
    font-weight: var(--modus-wc-font-weight-normal);
  }

  .modus-wc-typography-weight-semibold {
    font-weight: var(--modus-wc-font-weight-semibold);
  }

  .modus-wc-typography-weight-bold {
    font-weight: var(--modus-wc-font-weight-bold);
  }
}
