/* stylelint-disable selector-class-pattern */

/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

// TODO - see if we can simplify this styling by overriding tailwind classes (see modus-wc-checkbox.scss)
modus-wc-badge .modus\:badge {
  font-weight: var(--modus-wc-font-weight-semibold);

  &.modus\:badge-sm {
    font-size: var(--modus-wc-font-size-xs);
  }

  &.modus\:badge-md {
    font-size: var(--modus-wc-font-size-sm);
  }

  // Colors
  &.modus\:badge-high-contrast {
    background-color: var(--modus-wc-color-black);
    border-color: var(--modus-wc-color-base-content);
    color: var(--modus-wc-color-white);
  }

  // Types
  &.modus\:badge-counter {
    border-radius: 1rem;
  }

  &.modus\:badge-text {
    background-color: transparent;
    border: none;

    // Colors
    &.modus\:badge-primary {
      color: var(--modus-wc-color-trimble-blue);
    }

    &.modus\:badge-secondary {
      color: var(--modus-wc-color-gray-6);
    }

    &.modus\:badge-neutral {
      color: var(--modus-wc-color-gray-1);
    }

    &.modus\:badge-high-contrast {
      color: var(--modus-wc-color-base-content);
    }

    &.modus\:badge-success {
      color: var(--modus-wc-color-green-dark);
    }

    &.modus\:badge-warning {
      color: var(--modus-wc-color-warning);
    }

    &.modus\:badge-error {
      color: var(--modus-wc-color-error);
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-badge .modus\:badge,
[data-theme='modus-classic-dark'] modus-wc-badge .modus\:badge {
  border: unset;
  font-weight: var(--modus-wc-font-weight-bold);

  &.modus\:badge-secondary {
    background-color: var(--modus-wc-color-gray-6);
    color: var(--modus-wc-color-white);
  }

  &:not(.modus\:badge-counter) {
    border-radius: var(--modus-wc-border-radius-md);
  }

  &.modus\:badge-success:not(.modus\:badge-text) {
    background-color: var(--modus-wc-color-green-dark);
  }

  &.modus\:badge-sm {
    border-radius: var(--modus-wc-border-radius-sm);
    font-size: var(--modus-wc-font-size-xs);
    height: 14px;
    padding: var(--modus-wc-spacing-2xs) var(--modus-wc-spacing-xs);
  }

  &.modus\:badge-md {
    font-size: var(--modus-wc-font-size-sm);
    height: 20px;
    padding: var(--modus-wc-spacing-xs) var(--modus-wc-spacing-sm);
  }

  &.modus\:badge-lg {
    font-size: var(--modus-wc-font-size-md);
    height: 28px;
    padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-md);
  }
}

[data-theme='modus-classic-dark'] modus-wc-badge .modus\:badge {
  // Colors
  &:not(.modus\:badge-text) {
    &.modus\:badge-primary {
      background-color: var(--modus-wc-color-highlight-blue);
      color: var(--modus-wc-color-gray-10);
    }

    &.modus\:badge-success {
      background-color: var(--modus-wc-color-success);
    }

    &.modus\:badge-secondary {
      background-color: var(--modus-wc-color-gray-6);
      color: var(--modus-wc-color-white);
    }

    &.modus\:badge-neutral {
      background-color: var(--modus-wc-color-gray-1);
      color: var(--modus-wc-color-trimble-gray);
    }

    &.modus\:badge-high-contrast {
      background-color: var(--modus-wc-color-gray-light);
      color: var(--modus-wc-color-gray-10);
    }
  }

  // Types
  &.modus\:badge-text {
    &.modus\:badge-primary {
      color: var(--modus-wc-color-highlight-blue);
    }

    &.modus\:badge-high-contrast {
      color: var(--modus-wc-color-gray-light);
    }

    &.modus\:badge-success {
      color: var(--modus-wc-color-success);
    }
  }
}
