/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

[data-theme='modus-classic-light'] .modus-wc-skeleton,
[data-theme='modus-classic-dark'] .modus-wc-skeleton {
  &.modus-wc-skeleton-height-sm {
    height: var(--modus-wc-skeleton-height-sm);
  }

  &.modus-wc-skeleton-height-md {
    height: var(--modus-wc-skeleton-height-md);
  }

  &.modus-wc-skeleton-height-lg {
    height: var(--modus-wc-skeleton-height-lg);
  }
}
