@mixin feedback-levels {
  &--error {
    border-color: var(--modus-wc-color-error) !important;
  }

  &--info {
    border-color: var(--modus-wc-color-info) !important;
  }

  &--success {
    border-color: var(--modus-wc-color-success) !important;
  }

  &--warning {
    border-color: var(--modus-wc-color-warning) !important;
  }
}
