@use 'sass:math';
@import 'theme';

@function strip-unit($value) {
  @return math.div($value, ($value * 0 + 1));
}

@mixin modus-wc-fluid-type(
  $min-vw: $modus-wc-fluid-screen-min,
  $max-vw: $modus-wc-fluid-screen-max,
  $min-font-size: $modus-wc-fluid-font-size-min,
  $max-font-size: $modus-wc-fluid-font-size-max
) {
  font-size: $min-font-size;

  @media screen and (min-width: $min-vw) {
    font-size: calc(
      #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
        ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
    );
  }

  @media screen and (min-width: $max-vw) {
    font-size: $max-font-size;
  }
}

// Responsive mixins
@mixin modus-wc-responsive($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: var(--modus-wc-breakpoint-sm)) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: var(--modus-wc-breakpoint-md)) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: var(--modus-wc-breakpoint-lg)) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (min-width: var(--modus-wc-breakpoint-xl)) {
      @content;
    }
  }
}
