@mixin feedback-levels {
  &--error {
    border-color: var(--modus-wc-color-error) !important;
  }

  &--info {
    border-color: var(--modus-wc-color-info) !important;
  }

  &--success {
    border-color: var(--modus-wc-color-success) !important;
  }

  &--warning {
    border-color: var(--modus-wc-color-warning) !important;
  }
}

@mixin sizing-tokens {
  &-xs {
    height: var(--modus-wc-size-xs) !important;
    min-height: var(--modus-wc-size-xs) !important;
  }

  &-sm {
    height: var(--modus-wc-size-sm) !important;
    min-height: var(--modus-wc-size-sm) !important;
  }

  &-md {
    height: var(--modus-wc-size-md) !important;
    min-height: var(--modus-wc-size-md) !important;
  }

  &-lg {
    height: var(--modus-wc-size-lg) !important;
    min-height: var(--modus-wc-size-lg) !important;
  }

  &-xl {
    height: var(--modus-wc-size-xl) !important;
    min-height: var(--modus-wc-size-xl) !important;
  }
}

@mixin common-states {
  &:hover {
    background-color: var(--modus-wc-color-base-100);
    color: var(--modus-wc-color-primary);
  }

  &:focus {
    background-color: var(--modus-wc-color-base-200);
    color: var(--modus-wc-color-primary);
  }

  &:active {
    background-color: var(--modus-wc-color-primary-pale);
    color: var(--modus-wc-color-primary);
  }

  &-selected {
    background-color: var(--modus-wc-color-primary-pale);
    color: var(--modus-wc-color-primary);
  }

  &-active {
    background-color: var(--modus-wc-color-primary-pale);
    color: var(--modus-wc-color-primary);
  }

  &-open {
    background-color: var(--modus-wc-color-primary-pale);
    color: var(--modus-wc-color-primary);
  }

  .selected {
    background-color: var(--modus-wc-color-primary-pale);
    color: var(--modus-wc-color-primary);
  }

  .active {
    background-color: var(--modus-wc-color-primary-pale);
    color: var(--modus-wc-color-primary);
  }

  &-disabled:hover {
    background-color: inherit;
    color: var(--modus-wc-color-base-200) !important;
  }

  &--active {
    background-color: var(--modus-wc-color-primary-pale);
    color: var(--modus-wc-color-primary);
  }

  &--selected {
    background-color: var(--modus-wc-color-primary-pale);
    color: var(--modus-wc-color-primary);
  }

  &:checked {
    background-color: var(--modus-wc-color-primary);
    color: var(--modus-wc-color-primary-content);
  }

  &.checked {
    background-color: var(--modus-wc-color-primary);
    color: var(--modus-wc-color-primary-content);
  }

  &-checked {
    background-color: var(--modus-wc-color-primary);
    color: var(--modus-wc-color-primary-content);
  }

  &.pressed {
    background-color: var(--modus-wc-color-primary);
    color: var(--modus-wc-color-primary-content);
  }

  &-pressed {
    background-color: var(--modus-wc-color-primary);
    color: var(--modus-wc-color-primary-content);
  }

  &[aria-pressed='true'] {
    background-color: var(--modus-wc-color-primary);
    color: var(--modus-wc-color-primary-content);
  }
}

@mixin btn-state-colors {
  &.modus-wc-btn-primary {
    &[aria-pressed='true'] {
      background-color: var(--modus-wc-color-primary);
      border: 1px solid transparent;
      color: var(--modus-wc-color-primary-content);
    }

    &:hover {
      background-color: var(--modus-wc-color-primary-pale);
      color: var(--modus-wc-color-primary);
    }
  }

  &.modus-wc-btn-secondary {
    &[aria-pressed='true'] {
      background-color: var(--modus-wc-color-secondary);
      border: 1px solid transparent;
      color: var(--modus-wc-color-secondary-content);
    }

    &:hover {
      background-color: var(--modus-wc-color-secondary-pale);
      color: var(--modus-wc-color-secondary);
    }
  }

  &.modus-wc-btn-accent {
    &[aria-pressed='true'] {
      background-color: var(--modus-wc-color-accent);
      border: 1px solid transparent;
      color: var(--modus-wc-color-accent-content);
    }

    &:hover {
      background-color: var(--modus-wc-color-accent-pale);
      color: var(--modus-wc-color-accent);
    }
  }

  &.modus-wc-btn-neutral {
    &[aria-pressed='true'] {
      background-color: var(--modus-wc-color-neutral);
      border: 1px solid transparent;
      color: var(--modus-wc-color-base-content);
    }

    &:hover {
      background-color: var(--modus-wc-color-neutral-pale);
      color: var(--modus-wc-color-base-content);
    }
  }

  &.modus-wc-btn-warning {
    &[aria-pressed='true'] {
      background-color: var(--modus-wc-color-warning);
      border: 1px solid transparent;
      color: var(--modus-wc-color-warning-content);
    }

    &:hover {
      background-color: var(--modus-wc-color-warning-pale);
      color: var(--modus-wc-color-warning);
    }
  }

  &.modus-wc-btn-error {
    &[aria-pressed='true'] {
      background-color: var(--modus-wc-color-error);
      border: 1px solid transparent;
      color: var(--modus-wc-color-error-content);
    }

    &:hover {
      background-color: var(--modus-wc-color-error-pale);
      color: var(--modus-wc-color-error);
    }
  }
}

@mixin outline-styles {
  background-color: var(--modus-wc-color-base-page);
  border: 1px solid var(--modus-wc-color-base-200);
  color: var(--modus-wc-color-base-content);
}

@mixin connect-input-styles {
  border-bottom-width: var(--input-bottom-border-width);
  outline-width: 0 !important;
  padding: 0 var(--modus-wc-spacing-sm);

  &:hover {
    border-bottom-color: var(--modus-wc-color-primary);
  }

  &:active {
    border-bottom-color: var(--modus-wc-color-primary);
  }

  &:focus {
    border-bottom-color: var(--modus-wc-color-primary);
    outline: none;
  }

  &:focus-within {
    border-bottom-color: var(--modus-wc-color-primary);
    outline: none;
  }
}
