// Spacing helpers

$rem-1px: 0.0625rem;
$rem-2px: 0.125rem;
$rem-3px: 0.1875rem;
$rem-4px: 0.25rem;
$rem-5px: 0.3125rem;
$rem-6px: 0.375rem;
$rem-7px: 0.4375rem;
$rem-8px: 0.5rem;
$rem-9px: 0.5625rem;
$rem-10px: 0.625rem;
$rem-11px: 0.6875rem;
$rem-12px: 0.75rem;
$rem-13px: 0.8125rem;
$rem-14px: 0.875rem;
$rem-15px: 0.9375rem;
$rem-16px: 1rem;
$rem-18px: 1.125rem;
$rem-20px: 1.25rem;
$rem-22px: 1.375rem;
$rem-26px: 1.625rem;
$rem-24px: 1.5rem;
$rem-30px: 1.875rem;
$rem-32px: 2rem;
$rem-36px: 2.25rem;
$rem-40px: 2.5rem;
$rem-48px: 3rem;
