:root {
  /**
  * The following variables should always match Modus
  */
  color-scheme: light dark;

  /* Neutral Progression */
  --modus-wc-color-white: #fff;
  --modus-wc-color-gray-light: #f1f1f6;
  --modus-wc-color-gray-0: #e0e1e9;
  --modus-wc-color-gray-1: #cbcdd6;
  --modus-wc-color-gray-2: #b7b9c3;
  --modus-wc-color-gray-3: #a3a6b1;
  --modus-wc-color-gray-4: #90939f;
  --modus-wc-color-gray-5: #7d808d;
  --modus-wc-color-gray-6: #6a6e79;
  --modus-wc-color-gray-7: #585c65;
  --modus-wc-color-gray-8: #464b52;
  --modus-wc-color-gray-9: #353a40;
  --modus-wc-color-gray-10: #171c1e;
  --modus-wc-color-trimble-gray: #252a2e;
  --modus-wc-color-black: #000;

  /* Blue Progression */
  --modus-wc-color-blue-pale: #dcedf9;
  --modus-wc-color-highlight-blue: #019aeb;
  --modus-wc-color-blue-light: #217cbb;
  --modus-wc-color-trimble-blue: #0063a3;
  --modus-wc-color-blue-dark: #0e416c;

  /* Yellow Progression */
  --modus-wc-color-yellow-pale: #fff5e4;
  --modus-wc-color-yellow-light: #fec157;
  --modus-wc-color-yellow: #fbad26;
  --modus-wc-color-yellow-dark: #e49325;

  /* Red Progression */
  --modus-wc-color-red-pale: #fbd4d7;
  --modus-wc-color-red-light: #e86363;
  --modus-wc-color-red: #da212c;
  --modus-wc-color-red-dark: #ab1f26;

  /* Green Progression */
  --modus-wc-color-green-pale: #e0eccf;
  --modus-wc-color-green-light: #4ea646;
  --modus-wc-color-green: #1e8a44;
  --modus-wc-color-green-dark: #006638;

  /* In-Field */
  --modus-wc-in-field-success-dark-bg: #00fe00;
  --modus-wc-in-field-success-light-bg: #00d22f;
  --modus-wc-in-field-warning: #ff8b00;
  --modus-wc-in-field-error: #da212c;
  --modus-wc-in-field-info: #019aeb;
  --modus-wc-in-field-avoidance: #df4eb2;
  --modus-wc-in-field-black: #000;

  /* Border width */
  --modus-wc-border-width-xs: 1px;
  --modus-wc-border-width-sm: 2px;
  --modus-wc-border-width-md: 3px;
  --modus-wc-border-width-lg: 4px;
  --modus-wc-border-width-xl: 8px;
  --modus-wc-border-width-2xl: 12px;
  --modus-wc-border-width-3xl: 24px;

  /* Border radius */
  --modus-wc-border-radius-sm: 2px;
  --modus-wc-border-radius-md: 4px;
  --modus-wc-border-radius-lg: 8px;
  --modus-wc-border-radius-xl: 12px;
  --modus-wc-border-radius-2xl: 16px;
  --modus-wc-border-radius-3xl: 24px;

  /* Line heights */
  --modus-wc-line-height-xs: 0.5rem;
  --modus-wc-line-height-sm: 1rem;
  --modus-wc-line-height-md: 1.5rem;
  --modus-wc-line-height-lg: 2rem;
  --modus-wc-line-height-xl: 3rem;

  /* Font Family */
  --modus-wc-font-family:
    'Open Sans', 'Segoe UI', 'Noto Sans', 'San Francisco', 'Helvetica', 'Arial',
    sans-serif;

  /* Font Sizes */
  --modus-wc-font-size-2xs: 0.5rem; /* 8px */
  --modus-wc-font-size-xs: 0.625rem; /* 10px */
  --modus-wc-font-size-sm: 0.75rem; /* 12px */
  --modus-wc-font-size-md: 0.875rem; /* 14px */
  --modus-wc-font-size-lg: 1rem; /* 16px */
  --modus-wc-font-size-xl: 1.125rem; /* 18px */
  --modus-wc-font-size-2xl: 1.25rem; /* 20px */
  --modus-wc-font-size-3xl: 1.5rem; /* 24px */

  /* Font Weights */
  --modus-wc-font-weight-light: 300;
  --modus-wc-font-weight-normal: 400;
  --modus-wc-font-weight-semibold: 600;
  --modus-wc-font-weight-bold: 700;

  /* Spacing */
  --modus-wc-spacing-2xs: 0.125rem; /* 2px */
  --modus-wc-spacing-xs: 0.25rem; /* 4px */
  --modus-wc-spacing-sm: 0.5rem; /* 8px */
  --modus-wc-spacing-md: 0.75rem; /* 12px */
  --modus-wc-spacing-lg: 1rem; /* 16px */
  --modus-wc-spacing-xl: 1.5rem; /* 24px */
  --modus-wc-spacing-2xl: 2rem; /* 32px */
  --modus-wc-spacing-3xl: 3rem; /* 48px */

  /* Inputs */
  --modus-wc-input-height-sm: 1.5rem; /* 24px */
  --modus-wc-input-height-md: 2rem; /* 32px */
  --modus-wc-input-height-lg: 3rem; /* 48px */

  /* Border Variables */
  --modus-wc-border-radius-badge: var(--modus-wc-border-radius-md);
  --modus-wc-border-radius-btn: var(--modus-wc-border-radius-lg);
  --modus-wc-border-radius-box: var(--modus-wc-border-radius-2xl);
  --modus-wc-border-radius-tab: var(--modus-wc-border-radius-lg);
  --modus-wc-border-radius-input: var(--modus-wc-border-radius-lg);
  --modus-wc-border-radius-table: var(--modus-wc-border-radius-2xl);
  --modus-wc-border-radius-chip: var(--modus-wc-border-radius-lg);
  --modus-wc-border-radius-alert: var(--modus-wc-border-radius-md);

  /* Dynamic Base Colors */
  --modus-wc-color-base-page: light-dark(
    var(--modus-wc-color-white),
    var(--modus-wc-color-black)
  );
  --modus-wc-color-base-100: light-dark(
    var(--modus-wc-color-gray-light),
    var(--modus-wc-color-trimble-gray)
  );
  --modus-wc-color-base-200: light-dark(
    var(--modus-wc-color-gray-1),
    var(--modus-wc-color-gray-10)
  );
  --modus-wc-color-base-300: light-dark(
    var(--modus-wc-color-gray-2),
    var(--modus-wc-color-gray-9)
  );
  --modus-wc-color-base-content: light-dark(
    var(--modus-wc-color-gray-10),
    var(--modus-wc-color-gray-1)
  );

  /**
  * The following variables are applied to themes for applications to override.
  */

  /* Primary Colors */
  --modus-wc-color-primary: light-dark(
    var(--modus-wc-color-trimble-blue),
    var(--modus-wc-color-highlight-blue)
  );
  --modus-wc-color-primary-content: light-dark(
    var(--modus-wc-color-white),
    var(--modus-wc-color-black)
  );

  /* Secondary Colors */
  --modus-wc-color-secondary: light-dark(
    var(--modus-wc-color-yellow),
    var(--modus-wc-color-yellow-light)
  );
  --modus-wc-color-secondary-content: light-dark(
    var(--modus-wc-color-black),
    var(--modus-wc-color-black)
  );

  /* Accent Colors */
  --modus-wc-color-accent: light-dark(
    var(--modus-wc-color-gray-6),
    var(--modus-wc-color-gray-4)
  );
  --modus-wc-color-accent-content: light-dark(
    var(--modus-wc-color-white),
    var(--modus-wc-color-black)
  );

  /* Neutral Colors */
  --modus-wc-color-neutral: light-dark(
    var(--modus-wc-color-base-100),
    var(--modus-wc-color-base-100)
  );
  --modus-wc-color-neutral-content: light-dark(
    var(--modus-wc-color-base-content),
    var(--modus-wc-color-base-content)
  );

  /* Info Colors */
  --modus-wc-color-info: light-dark(
    var(--modus-wc-color-blue-dark),
    var(--modus-wc-color-blue-light)
  );
  --modus-wc-color-info-content: light-dark(
    var(--modus-wc-color-white),
    var(--modus-wc-color-white)
  );

  /* Success Colors */
  --modus-wc-color-success: light-dark(
    var(--modus-wc-color-green),
    var(--modus-wc-color-green-light)
  );
  --modus-wc-color-success-content: light-dark(
    var(--modus-wc-color-white),
    var(--modus-wc-color-black)
  );

  /* Warning Colors */
  --modus-wc-color-warning: light-dark(
    var(--modus-wc-color-yellow-dark),
    var(--modus-wc-color-yellow-light)
  );
  --modus-wc-color-warning-content: light-dark(
    var(--modus-wc-color-black),
    var(--modus-wc-color-black)
  );

  /* Error Colors */
  --modus-wc-color-error: light-dark(
    var(--modus-wc-color-red),
    var(--modus-wc-color-red-light)
  );
  --modus-wc-color-error-content: light-dark(
    var(--modus-wc-color-white),
    var(--modus-wc-color-black)
  );
}
