:root {
  /**
  * The following variables should always match Modus
  */

  // Neutral Progression
  --modus-wc-color-white: #FFFFFF;
  --modus-wc-color-gray-light: #F1F1F6;
  --modus-wc-color-gray-0: #E0E1E9;
  --modus-wc-color-gray-1: #CBCDD6;
  --modus-wc-color-gray-2: #B7B9C3;
  --modus-wc-color-gray-3: #A3A6B1;
  --modus-wc-color-gray-4: #90939F;
  --modus-wc-color-gray-5: #7D808D;
  --modus-wc-color-gray-6: #6A6E79;
  --modus-wc-color-gray-7: #585C65;
  --modus-wc-color-gray-8: #464B52;
  --modus-wc-color-gray-9: #353A40;
  --modus-wc-color-gray-10: #171C1E;
  --modus-wc-color-trimble-gray: #252A2E;

  // Blue Progression
  --modus-wc-color-blue-pale: #DCEDF9;
  --modus-wc-color-highlight-blue: #019AEB;
  --modus-wc-color-blue-light: #217CBB;
  --modus-wc-color-trimble-blue: #0063A3;
  --modus-wc-color-blue-dark: #0E416C;

  // Yellow Progression
  --modus-wc-color-yellow-pale: #FFF5E4;
  --modus-wc-color-yellow-light: #FEC157;
  --modus-wc-color-yellow: #FBAD26;
  --modus-wc-color-yellow-dark: #E49325;

  // Red Progression
  --modus-wc-color-red-pale: #FBD4D7;
  --modus-wc-color-red-light: #E86363;
  --modus-wc-color-red: #DA212C;
  --modus-wc-color-red-dark: #AB1F26;

  // Green Progression
  --modus-wc-color-green-pale: #E0ECCF;
  --modus-wc-color-green-light: #4EA646;
  --modus-wc-color-green: #1E8A44;
  --modus-wc-color-green-dark: #006638;

  // In-Field
  --modus-wc-in-field-success-dark-bg: #00FE00;
  --modus-wc-in-field-success-light-bg: #00D22F;
  --modus-wc-in-field-warning: #FF8B00;
  --modus-wc-in-field-error: #DA212C;
  --modus-wc-in-field-info: #019AEB;
  --modus-wc-in-field-avoidance: #DF4EB2;
  --modus-wc-in-field-black: #000000;

  /**
  * The following variables are applied to themes for applications to override.
  */

  // Primary Colors
  --modus-wc-color-primary: #0063A3; // Trimble Blue
  --modus-wc-color-primary-content: #FFFFFF; // White

  // Secondary Colors
  --modus-wc-color-secondary: #FBAD26; // Yellow
  --modus-wc-color-secondary-content: #252A2E; // Trimble Gray

  // Accent Colors
  --modus-wc-color-accent: #6A6E79; // Gray 6
  --modus-wc-color-accent-content: #FFFFFF; // White

  // Neutral Colors
  --modus-wc-color-neutral: #353A40; // Gray 9
  --modus-wc-color-neutral-content: #FFFFFF; // White

  // Base Colors
  --modus-wc-color-base-100: #CBCDD6; // Gray 1
  --modus-wc-color-base-200: #B7B9C3; // Gray 2
  --modus-wc-color-base-300: #A3A6B1; // Gray 3
  --modus-wc-color-base-content: #252A2E; // Trimble Gray

  // Info Colors
  --modus-wc-color-info: #0063A3; // Trimble Blue
  --modus-wc-color-info-content: #FFFFFF; // White

  // Success Colors
  --modus-wc-color-success: #1E8A44; // Green
  --modus-wc-color-success-content: #FFFFFF; // White

  // Warning Colors
  --modus-wc-color-warning: #FBAD26; // Yellow
  --modus-wc-color-warning-content: #252A2E; // Trimble Gray

  // Error Colors
  --modus-wc-color-error: #DA212C; // Red
  --modus-wc-color-error-content: #FFFFFF; // White
}

/* Modus Classic Themes */
[data-theme='modus-classic-light'] :root {
  color-scheme: light;
  --p: var(--modus-wc-color-primary);
  --pc: var(--modus-wc-color-primary-content);
  --s: var(--modus-wc-color-secondary);
  --sc: var(--modus-wc-color-secondary-content);
  --a: var(--modus-wc-color-accent);
  --ac: var(--modus-wc-color-accent-content);
  --n: var(--modus-wc-color-neutral);
  --nc: var(--modus-wc-color-neutral-content);
  --b1: var(--modus-wc-color-base-100);
  --b2: var(--modus-wc-color-base-200);
  --b3: var(--modus-wc-color-base-300);
  --bc: var(--modus-wc-color-base-content);
  --in: var(--modus-wc-color-info);
  --inc: var(--modus-wc-color-info-content);
  --su: var(--modus-wc-color-success);
  --suc: var(--modus-wc-color-success-content);
  --wa: var(--modus-wc-color-warning);
  --wac: var(--modus-wc-color-warning-content);
  --er: var(--modus-wc-color-error);
  --erc: var(--modus-wc-color-error-content);
}

[data-theme='modus-classic-dark'] :root {
  color-scheme: dark;
  --p: var(--modus-wc-color-primary);
  --pc: var(--modus-wc-color-primary-content);
  --s: var(--modus-wc-color-secondary);
  --sc: var(--modus-wc-color-secondary-content);
  --a: var(--modus-wc-color-accent);
  --ac: var(--modus-wc-color-accent-content);
  --n: var(--modus-wc-color-neutral);
  --nc: var(--modus-wc-color-neutral-content);
  --b1: var(--modus-wc-color-gray-8);
  --b2: var(--modus-wc-color-gray-9);
  --b3: var(--modus-wc-color-gray-10);
  --bc: var(--modus-wc-color-white);
  --in: var(--modus-wc-color-info);
  --inc: var(--modus-wc-color-info-content);
  --su: var(--modus-wc-color-success);
  --suc: var(--modus-wc-color-success-content);
  --wa: var(--modus-wc-color-warning);
  --wac: var(--modus-wc-color-warning-content);
  --er: var(--modus-wc-color-error);
  --erc: var(--modus-wc-color-error-content);
}

/* Prism Themes */