/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-collapse details.modus-wc-collapse > summary {
  display: inline-flex;
}

modus-wc-collapse .modus-wc-collapse {
  background-color: var(--modus-collapse-background);
  border-color: transparent;
  border-radius: var(--modus-collapse-border-radius);
  box-sizing: border-box;
  color: var(--modus-wc-color-base-content);
  margin-bottom: var(--modus-collapse-margin-bottom);
  transition: none;

  .modus-wc-collapse-title {
    font-size: var(--modus-wc-font-size-md);
    font-weight: var(--modus-collapse-title-font-weight);
    min-height: unset;
    padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-3xl)
      var(--modus-wc-spacing-md)
      var(--modus-collapse-title-padding-inline-start);
    width: auto;

    @include common-states;
  }

  .description {
    color: var(--modus-collapse-description-color);
    font-size: var(--modus-wc-font-size-sm);
  }

  modus-wc-icon {
    height: 24px;
    margin-inline-end: var(--modus-wc-spacing-sm);
  }

  &.modus-wc-border {
    background: var(--modus-wc-color-base-page);
    border: var(--modus-wc-border-width-xs) solid var(--modus-wc-color-base-200);
    border-radius: var(--modus-wc-border-radius-box);
  }

  &.modus-wc-collapse-arrow.modus-wc-collapse-open {
    border-left: var(--modus-collapse-border-left-open);

    .modus-wc-collapse-content {
      padding: var(--modus-wc-spacing-lg);
    }

    .modus-wc-collapse-title {
      background-color: var(--modus-collapse-title-bg-open);
      color: var(--modus-collapse-title-color-open);
      padding-inline-start: var(
        --modus-collapse-title-padding-inline-start-open
      );
    }
  }

  &.modus-wc-collapse-arrow.modus-wc-border.modus-wc-collapse-open {
    .modus-wc-collapse-title {
      background-color: var(--modus-wc-color-base-100);
    }
  }
}

.modus-wc-collapse-arrow > .modus-wc-collapse-title::after {
  top: 50% !important;
}

/* Connect theme outline styles */
[data-theme='connect-light'] modus-wc-collapse .modus-wc-collapse,
[data-theme='connect-dark'] modus-wc-collapse .modus-wc-collapse {
  @include outline-styles;
}
