/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-collapse details.modus-wc-collapse > summary {
  display: inline-flex;
}

modus-wc-collapse .modus-wc-collapse {
  background: var(--modus-wc-color-base-page);
  box-sizing: border-box;
  color: var(--modus-wc-color-base-content);
  margin-bottom: var(--modus-wc-spacing-md);
  transition: none;

  .modus-wc-collapse-title {
    font-size: var(--modus-wc-font-size-md);
    font-weight: var(--modus-wc-font-weight-semibold);
    min-height: unset;
    padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-3xl)
      var(--modus-wc-spacing-md) var(--modus-wc-spacing-3xl);
    position: relative;
    width: auto;

    @include common-states;
  }

  .modus-wc-collapse-title:hover,
  .modus-wc-collapse-title:active,
  .modus-wc-collapse-title:focus {
    background-color: transparent;
    color: var(--modus-wc-color-base-content);
    cursor: pointer;
  }

  .description {
    font-size: var(--modus-wc-font-size-sm);
  }

  .modus-wc-title-main-content {
    flex: 1;
    min-width: 0;
  }

  .modus-wc-summary-main-content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 1rem;
    width: 100%;
  }

  .modus-wc-title-main-row > modus-wc-icon {
    height: 24px;
    margin-inline-end: var(--modus-wc-spacing-sm);
  }

  .modus-wc-collapse-description {
    margin-top: calc(var(--modus-wc-spacing-sm) * -1);
    padding-top: 0;

    &::before,
    &::after {
      display: none !important;
    }
  }

  .modus-wc-title-end-content {
    margin-inline-end: var(--modus-wc-spacing-sm);
  }

  .title-end-icon {
    height: 24px;
    margin-inline-start: var(--modus-wc-spacing-sm);
    pointer-events: none;
  }

  .title-start-icon {
    height: 24px;
    inset-inline-start: var(--modus-wc-spacing-sm);
    pointer-events: none;
    position: absolute;
    top: calc(var(--modus-wc-spacing-md) + 12px);
    transform: translateY(-50%);
  }

  &.modus-wc-border {
    border: none;
    border-bottom: var(--modus-wc-border-width-xs) solid
      var(--modus-wc-color-base-200);
    border-radius: 0;
  }

  &.modus-wc-collapse-arrow.modus-wc-collapse-open {
    .modus-wc-collapse-content {
      padding: var(--modus-wc-spacing-lg);
    }

    .modus-wc-collapse-title {
      color: var(--modus-wc-color-base-content);
    }
  }

  &.has-start-icon > .modus-wc-collapse-title {
    padding-inline-start: var(--modus-wc-spacing-3xl);

    &::before {
      inset-inline-start: var(--modus-wc-spacing-2xl);
    }
  }

  &.no-leading-icons > .modus-wc-collapse-title,
  &.no-leading-icons > .modus-wc-collapse-description {
    padding-inline-start: var(--modus-wc-spacing-lg);
  }
}

.modus-wc-collapse-arrow.modus-wc-chevron-right
  > .modus-wc-collapse-title::after {
  top: calc(var(--modus-wc-spacing-md) + 12px) !important;
}

.modus-wc-collapse-arrow.modus-wc-chevron-left
  > .modus-wc-collapse-title::before {
  box-shadow: 2px 2px;
  content: '';
  display: block;
  height: 0.5rem;
  inset-inline-start: var(--modus-wc-spacing-lg);
  pointer-events: none;
  position: absolute;
  top: calc(var(--modus-wc-spacing-md) + 12px);
  transform: translateY(-100%) rotate(45deg);
  transform-origin: 75% 75%;
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  width: 0.5rem;
}

.modus-wc-collapse-arrow.modus-wc-chevron-left.modus-wc-collapse-open
  > .modus-wc-collapse-title::before {
  transform: translateY(-50%) rotate(225deg);
}

.modus-wc-collapse-arrow.modus-wc-chevron-left
  > .modus-wc-collapse-title::after {
  display: none;
}

[data-theme='modus-classic-light'] modus-wc-collapse .modus-wc-collapse,
[data-theme='modus-classic-dark'] modus-wc-collapse .modus-wc-collapse {
  border-radius: var(--modus-wc-border-radius-md);
  margin-bottom: 0;
  margin-bottom: -1px;

  .modus-wc-collapse-title {
    font-weight: var(--modus-wc-font-weight-normal);
    min-height: unset;
    width: auto;
  }
}

[data-theme='modus-classic-light'] modus-wc-collapse .modus-wc-collapse {
  background-color: var(--modus-wc-color-white);
  color: inherit;

  .description {
    color: var(--modus-wc-color-gray-6);
  }

  &.modus-wc-collapse-arrow.modus-wc-collapse-open {
    border-left: var(--modus-wc-spacing-xs) solid
      var(--modus-wc-color-trimble-blue);

    .modus-wc-collapse-title {
      font-weight: var(--modus-wc-font-weight-normal);
      padding-inline-start: var(--modus-wc-spacing-md);
    }

    &.has-start-icon .modus-wc-collapse-title {
      padding-inline-start: var(--modus-wc-spacing-3xl);
    }

    &.no-leading-icons .modus-wc-collapse-title,
    &.no-leading-icons .modus-wc-collapse-description {
      padding-inline-start: var(--modus-wc-spacing-lg);
    }
  }
}

[data-theme='modus-classic-dark'] modus-wc-collapse .modus-wc-collapse {
  background-color: var(--modus-wc-color-trimble-gray);
  color: inherit;

  .description {
    color: var(--modus-wc-color-gray-light);
  }

  &.modus-wc-collapse-arrow.modus-wc-collapse-open {
    border-left: var(--modus-wc-spacing-xs) solid
      var(--modus-wc-color-highlight-blue);

    .modus-wc-collapse-title {
      padding-inline-start: var(--modus-wc-spacing-md);
    }

    &.has-start-icon .modus-wc-collapse-title {
      padding-inline-start: var(--modus-wc-spacing-3xl);
    }

    &.no-leading-icons .modus-wc-collapse-title,
    &.no-leading-icons .modus-wc-collapse-description {
      padding-inline-start: var(--modus-wc-spacing-lg);
    }
  }
}

[data-theme='connect-light'] modus-wc-collapse .modus-wc-collapse,
[data-theme='connect-dark'] modus-wc-collapse .modus-wc-collapse {
  @include outline-styles;
}

[data-theme='modus-modern-dark'] modus-wc-collapse .modus-wc-collapse {
  background-color: var(--modus-wc-color-trimble-gray);
}
