/* stylelint-disable selector-class-pattern */

/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-menu-item .modus\:menu-item {
  button {
    display: flex;

    /* Enforce Tailwind CSS reset */
    width: 100%;

    .modus\:menu-item-content {
      display: flex;
      width: 100%;

      .modus\:menu-item-start-icon {
        padding-inline-end: var(--modus-wc-spacing-lg);
      }

      .modus\:menu-item-labels {
        padding-inline-end: var(--modus-wc-spacing-md);
      }

      .modus\:menu-item-sublabel {
        font-size: var(--modus-wc-font-size-sm);
      }

      .modus\:menu-item-selected-icon {
        margin-left: auto;
      }
    }

    &:where(
        .modus\:menu
          li:not(.modus\:menu-title, .modus\:disabled)
          > :not(ul, details, .modus\:menu-title)
      ):not(summary, .modus\:active, .modus\:btn):focus {
      border-radius: inherit;
      color: var(--modus-wc-color-primary-content);
    }

    &:where(
        .modus\:menu
          li:not(
            .modus\:menu-title,
            .modus\:disabled .modus\:menu-item-selected
          )
          > :not(ul, details, .modus\:menu-title)
      ):not(summary, .modus\:active, .modus\:btn):focus {
      color: var(--modus-wc-color-primary);
    }
  }

  &.modus\:menu-item-bordered {
    border-bottom: var(--modus-wc-border-width-xs) solid
      var(--modus-wc-color-base-100);
    border-radius: 0;
    border-top: var(--modus-wc-border-width-xs) solid
      var(--modus-wc-color-base-100);
  }

  &.modus\:menu-item-selected {
    background-color: var(--modus-wc-color-primary);
    border-radius: inherit;
    color: var(--modus-wc-color-primary-content);
  }

  &.modus\:menu-item-disabled {
    color: var(--modus-wc-color-gray-2);

    button {
      pointer-events: none;
    }
  }

  &.modus\:menu-item-sm {
    button {
      font-size: var(--modus-wc-font-size-sm);

      .modus\:menu-item-sublabel {
        font-size: var(--modus-wc-font-size-xs);
      }
    }
  }

  &.modus\:menu-item-md {
    button {
      font-size: var(--modus-wc-font-size-md);

      .modus\:menu-item-sublabel {
        font-size: var(--modus-wc-font-size-sm);
      }
    }
  }

  &.modus\:menu-item-lg {
    button {
      font-size: var(--modus-wc-font-size-lg);

      .modus\:menu-item-sublabel {
        font-size: var(--modus-wc-font-size-md);
      }
    }
  }
}

modus-wc-menu-item .modus\:menu-item.modus\:menu-item-selected > button:focus {
  color: var(--modus-wc-color-base-content);
}

[data-theme='modus-classic-light'] modus-wc-menu-item .modus\:menu-item {
  &.modus\:menu-item-disabled {
    color: var(--modus-wc-color-gray-2);
  }

  &.modus\:menu-item-selected {
    background-color: var(--modus-wc-color-blue-pale);
    color: var(--modus-wc-color-gray-10);
  }

  &:hover {
    background-color: var(--modus-wc-color-gray-0);
  }

  &.modus\:menu-item-focused {
    background-color: var(--modus-wc-color-gray-0);
  }

  &.modus\:menu-item-bordered {
    border-bottom: var(--modus-wc-border-width-xs) solid
      var(--modus-wc-color-gray-9);
    border-top: var(--modus-wc-border-width-xs) solid
      var(--modus-wc-color-gray-9);
  }
}

[data-theme='modus-classic-dark'] modus-wc-menu-item .modus\:menu-item {
  &.modus\:menu-item-disabled {
    color: var(--modus-wc-color-gray-6);
  }

  &.modus\:menu-item-selected {
    background-color: #019aeb4d;
    background-color: var(--modus-wc-color-primary);
    color: var(--modus-wc-color-white);
  }

  &:hover {
    background-color: var(--modus-wc-color-gray-8);
  }

  &.modus\:menu-item-focused {
    background-color: var(--modus-wc-color-gray-8);
  }
}
