/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-select .modus-wc-select {
  @include sizing-tokens;
  @include feedback-levels;

  .modus-wc-input-label {
    padding-bottom: var(--modus-wc-spacing-sm);
  }
}

[data-theme='modus-classic-light'] modus-wc-select .modus-wc-select,
[data-theme='modus-classic-dark'] modus-wc-select .modus-wc-select {
  border-radius: var(--modus-wc-border-radius-md);

  // TODO - add support for xs and xl once added to Modus Figma

  &.modus-wc-select-sm {
    font-size: var(--modus-wc-font-size-sm);
    height: var(--modus-wc-input-height-sm);
    line-height: var(--modus-wc-input-height-sm);
    min-height: var(--modus-wc-input-height-sm);
  }

  &.modus-wc-select-md {
    font-size: var(--modus-wc-font-size-md);
    height: var(--modus-wc-input-height-md);
    line-height: var(--modus-wc-input-height-md);
    min-height: var(--modus-wc-input-height-md);
  }

  &.modus-wc-select-lg {
    font-size: var(--modus-wc-font-size-lg);
    height: var(--modus-wc-input-height-lg);
    line-height: var(--modus-wc-font-size-lg);
    min-height: var(--modus-wc-font-size-lg);
  }

  &:focus {
    border-color: var(--modus-wc-color-blue-light);
    border-width: var(--modus-wc-border-width-sm);
    box-shadow: none; // Removes the Tailwind ring effect
    outline: none; // Ensures there's no outline on focus
  }
}

[data-theme='modus-classic-light'] modus-wc-select .modus-wc-select {
  &.modus-wc-select-bordered:not(:disabled):not(:focus) {
    border-color: var(--modus-wc-color-gray-6);
  }
}

[data-theme='modus-classic-dark'] modus-wc-select .modus-wc-select:focus {
  border-color: var(--modus-wc-color-highlight-blue);
}

[data-theme='modus-classic-dark'] modus-wc-select .modus-wc-select,
[data-theme='modus-modern-dark'] modus-wc-select .modus-wc-select,
[data-theme='connect-dark'] modus-wc-select .modus-wc-select {
  background-color: var(--modus-wc-color-gray-10);
}

[data-theme='connect-light'] modus-wc-select .modus-wc-select,
[data-theme='connect-dark'] modus-wc-select .modus-wc-select {
  @include connect-input-styles;
}
