/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-select .modus-wc-select-wrapper {
  display: block;
  position: relative;
  width: 100%;
}

modus-wc-select .modus-wc-select {
  background-color: var(--modus-wc-color-base-page);
  color: var(--modus-wc-color-base-content);
  width: 100%;

  @include sizing-tokens;
  @include feedback-levels;
}

[data-theme='modus-modern-light'] modus-wc-select .modus-wc-input-label,
[data-theme='modus-modern-dark'] modus-wc-select .modus-wc-input-label,
[data-theme='modus-classic-light'] modus-wc-select .modus-wc-input-label,
[data-theme='modus-classic-dark'] modus-wc-select .modus-wc-input-label {
  padding-bottom: var(--modus-wc-spacing-sm);
}

[data-theme='modus-modern-light']
  modus-wc-select:has(.modus-wc-select-xs)
  .modus-wc-input-label,
[data-theme='modus-modern-dark']
  modus-wc-select:has(.modus-wc-select-xs)
  .modus-wc-input-label {
  font-size: var(--modus-wc-font-size-sm);
  line-height: 1.25rem;
  padding-bottom: var(--modus-wc-spacing-xs);
}

[data-theme='modus-modern-light']
  modus-wc-select:has(.modus-wc-select-sm)
  .modus-wc-input-label,
[data-theme='modus-modern-dark']
  modus-wc-select:has(.modus-wc-select-sm)
  .modus-wc-input-label {
  font-size: var(--modus-wc-font-size-md);
  line-height: var(--modus-wc-line-height-md);
  padding-bottom: var(--modus-wc-spacing-xs);
}

[data-theme='modus-modern-light']
  modus-wc-select:has(.modus-wc-select-md)
  .modus-wc-input-label,
[data-theme='modus-modern-dark']
  modus-wc-select:has(.modus-wc-select-md)
  .modus-wc-input-label {
  font-size: var(--modus-wc-font-size-lg);
  line-height: var(--modus-wc-line-height-md);
  padding-bottom: var(--modus-wc-spacing-xs);
}

[data-theme='modus-modern-light']
  modus-wc-select:has(.modus-wc-select-lg)
  .modus-wc-input-label,
[data-theme='modus-modern-dark']
  modus-wc-select:has(.modus-wc-select-lg)
  .modus-wc-input-label,
[data-theme='modus-modern-light']
  modus-wc-select:has(.modus-wc-select-xl)
  .modus-wc-input-label,
[data-theme='modus-modern-dark']
  modus-wc-select:has(.modus-wc-select-xl)
  .modus-wc-input-label {
  font-size: var(--modus-wc-font-size-xl);
  line-height: var(--modus-wc-line-height-lg);
  padding-bottom: var(--modus-wc-spacing-xs);
}

[data-theme='modus-modern-light'] modus-wc-select .modus-wc-select,
[data-theme='modus-modern-dark'] modus-wc-select .modus-wc-select {
  appearance: none;
  background-image: none; // Hide DaisyUI gradient chevron; custom icon is used
  background-position: unset;
  background-size: unset;

  &::-ms-expand {
    display: none;
  }

  &.modus-wc-select-xs {
    --modus-wc-select-inner-height: calc(
      var(--modus-wc-size-xs) - var(--modus-wc-border-width-sm) - var(
          --modus-wc-border-width-sm
        )
    );

    font-size: var(--modus-wc-font-size-sm);
    height: var(--modus-wc-size-xs);
    line-height: 1.25rem;
    min-height: var(--modus-wc-size-xs);
    padding-block: select-padding-block(1.25rem);
    padding-inline-end: calc(
      var(--modus-wc-spacing-lg) + var(--modus-wc-line-height-sm)
    );
    padding-inline-start: var(--modus-wc-spacing-sm);
  }

  &.modus-wc-select-sm {
    --modus-wc-select-inner-height: calc(
      var(--modus-wc-size-sm) - var(--modus-wc-border-width-sm) - var(
          --modus-wc-border-width-sm
        )
    );

    font-size: var(--modus-wc-font-size-md);
    height: var(--modus-wc-size-sm);
    line-height: var(--modus-wc-line-height-md);
    min-height: var(--modus-wc-size-sm);
    padding-block: select-padding-block(var(--modus-wc-line-height-md));
    padding-inline-end: calc(
      var(--modus-wc-spacing-lg) + var(--modus-wc-line-height-sm)
    );
    padding-inline-start: var(--modus-wc-spacing-md);
  }

  &.modus-wc-select-md {
    --modus-wc-select-inner-height: calc(
      var(--modus-wc-size-md) - var(--modus-wc-border-width-sm) - var(
          --modus-wc-border-width-sm
        )
    );

    font-size: var(--modus-wc-font-size-lg);
    height: var(--modus-wc-size-md);
    line-height: var(--modus-wc-line-height-md);
    min-height: var(--modus-wc-size-md);
    padding-block: select-padding-block(var(--modus-wc-line-height-md));
    padding-inline-end: calc(
      var(--modus-wc-spacing-lg) + var(--modus-wc-line-height-md)
    );
    padding-inline-start: var(--modus-wc-spacing-lg);
  }

  &.modus-wc-select-lg {
    --modus-wc-select-inner-height: calc(
      var(--modus-wc-size-lg) - var(--modus-wc-border-width-sm) - var(
          --modus-wc-border-width-sm
        )
    );

    font-size: var(--modus-wc-font-size-xl);
    height: var(--modus-wc-size-lg);
    line-height: var(--modus-wc-line-height-lg);
    min-height: var(--modus-wc-size-lg);
    padding-block: select-padding-block(var(--modus-wc-line-height-lg));
    padding-inline-end: calc(
      var(--modus-wc-spacing-lg) + var(--modus-wc-line-height-md)
    );
    padding-inline-start: var(--modus-wc-spacing-xl);
  }

  &.modus-wc-select-xl {
    --modus-wc-select-inner-height: calc(
      var(--modus-wc-size-xl) - var(--modus-wc-border-width-sm) - var(
          --modus-wc-border-width-sm
        )
    );

    font-size: var(--modus-wc-font-size-xl);
    height: var(--modus-wc-size-xl);
    line-height: var(--modus-wc-line-height-lg);
    min-height: var(--modus-wc-size-xl);
    padding-block: select-padding-block(var(--modus-wc-line-height-lg));
    padding-inline-end: calc(
      var(--modus-wc-spacing-lg) + var(--modus-wc-line-height-md)
    );
    padding-inline-start: var(--modus-wc-spacing-xl);
  }
}

[data-theme='modus-modern-light'] modus-wc-select .modus-wc-select-chevron,
[data-theme='modus-modern-dark'] modus-wc-select .modus-wc-select-chevron {
  align-items: center;
  color: var(--modus-wc-color-base-content);
  display: inline-flex;
  inset-block-start: 50%;
  inset-inline-end: var(--modus-wc-spacing-lg);
  line-height: 0;
  pointer-events: none;
  position: absolute;
  transform: translateY(-50%);
}

[data-theme='modus-modern-light']
  modus-wc-select:has(.modus-wc-select:disabled)
  .modus-wc-select-chevron,
[data-theme='modus-modern-dark']
  modus-wc-select:has(.modus-wc-select:disabled)
  .modus-wc-select-chevron {
  opacity: 0.5;
}

[data-theme='modus-classic-light'] modus-wc-select .modus-wc-select-chevron,
[data-theme='modus-classic-dark'] modus-wc-select .modus-wc-select-chevron,
[data-theme='connect-light'] modus-wc-select .modus-wc-select-chevron,
[data-theme='connect-dark'] modus-wc-select .modus-wc-select-chevron {
  display: none;
}

[data-theme='modus-classic-light'] modus-wc-select .modus-wc-select,
[data-theme='modus-classic-dark'] modus-wc-select .modus-wc-select {
  &.modus-wc-select-xs {
    font-size: var(--modus-wc-font-size-sm);
    height: var(--modus-wc-size-xs);
    line-height: 1.25rem;
    min-height: var(--modus-wc-size-xs);
  }

  &.modus-wc-select-sm {
    font-size: var(--modus-wc-font-size-sm);
    height: var(--modus-wc-input-height-sm);
    line-height: var(--modus-wc-input-height-sm);
    min-height: var(--modus-wc-input-height-sm);
  }

  &.modus-wc-select-md {
    font-size: var(--modus-wc-font-size-md);
    height: var(--modus-wc-input-height-md);
    line-height: var(--modus-wc-input-height-md);
    min-height: var(--modus-wc-input-height-md);
  }

  &.modus-wc-select-lg {
    font-size: var(--modus-wc-font-size-lg);
    height: var(--modus-wc-input-height-lg);
    line-height: var(--modus-wc-font-size-lg);
    min-height: var(--modus-wc-font-size-lg);
  }

  &.modus-wc-select-xl {
    font-size: var(--modus-wc-font-size-xl);
    height: var(--modus-wc-size-xl);
    line-height: var(--modus-wc-line-height-lg);
    min-height: var(--modus-wc-size-xl);
  }

  &:focus {
    border-color: var(--modus-wc-color-blue-light);
    border-width: var(--modus-wc-border-width-sm);
    box-shadow: none; // Removes the Tailwind ring effect
    outline: none; // Ensures there's no outline on focus
  }
}

[data-theme='modus-classic-light'] modus-wc-select .modus-wc-select {
  &.modus-wc-select-bordered:not(:disabled):not(:focus) {
    border-color: var(--modus-wc-color-gray-6);
  }
}

[data-theme='modus-classic-dark'] modus-wc-select .modus-wc-select:focus {
  border-color: var(--modus-wc-color-highlight-blue);
}

[data-theme='modus-classic-dark'] modus-wc-select .modus-wc-select,
[data-theme='connect-dark'] modus-wc-select .modus-wc-select {
  background-color: var(--modus-wc-color-gray-10);
}

[data-theme='connect-light'] modus-wc-select .modus-wc-select,
[data-theme='connect-dark'] modus-wc-select .modus-wc-select {
  @include connect-input-styles;
}
