@import '../../../styles/utility.scss';

/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

// Sizing
[data-theme='modus-classic-light'] .modus-wc-chip,
[data-theme='modus-classic-dark'] .modus-wc-chip {
  &.modus-wc-btn {
    box-sizing: border-box;

    &.modus-wc-btn-sm {
      --rounded-btn: #{$rem-12px};
      height: $rem-24px;
      min-height: $rem-24px;
      padding: $rem-3px $rem-12px;

      .modus-wc-chip-avatar {
        width: $rem-16px;
        height: $rem-16px;
      }

      .modus-wc-chip-close-icon {
        width: $rem-16px;
        height: $rem-16px;
      }
    }

    &.modus-wc-btn-md {
      --rounded-btn: #{$rem-16px};
      height: $rem-32px;
      min-height: $rem-32px;
      padding: $rem-7px $rem-12px;

      .modus-wc-chip-avatar {
        width: $rem-16px;
        height: $rem-16px;
      }

      .modus-wc-chip-close-icon {
        width: $rem-16px;
        height: $rem-16px;
      }
    }

    &.modus-wc-btn-lg {
      --rounded-btn: #{$rem-24px};
      height: $rem-48px;
      min-height: $rem-48px;
      padding: $rem-12px $rem-16px;

      .modus-wc-chip-avatar {
        width: $rem-24px;
        height: $rem-24px;
      }

      .modus-wc-chip-close-icon {
        width: $rem-24px;
        height: $rem-24px;
      }
    }
  }
}

[data-theme='modus-modern-light'] .modus-wc-chip,
[data-theme='modus-modern-dark'] .modus-wc-chip {
  &.modus-wc-btn {
    --rounded-btn: #{$rem-8px}; // 8px
    box-sizing: border-box;

    &.modus-wc-btn-sm {
      height: $rem-24px;
      min-height: $rem-24px;
      padding: $rem-3px $rem-12px;

      .modus-wc-chip-avatar {
        width: $rem-16px;
        height: $rem-16px;
      }

      .modus-wc-chip-close-icon {
        width: $rem-16px;
        height: $rem-16px;
      }
    }

    &.modus-wc-btn-md {
      height: $rem-32px;
      min-height: $rem-32px;
      padding: $rem-7px $rem-12px;

      .modus-wc-chip-avatar {
        width: $rem-16px;
        height: $rem-16px;
      }

      .modus-wc-chip-close-icon {
        width: $rem-16px;
        height: $rem-16px;
      }
    }

    &.modus-wc-btn-lg {
      height: $rem-48px;
      min-height: $rem-48px;
      padding: $rem-12px $rem-16px;

      .modus-wc-chip-avatar {
        width: $rem-24px;
        height: $rem-24px;
      }

      .modus-wc-chip-close-icon {
        width: $rem-24px;
        height: $rem-24px;
      }
    }
  }
}

// Colors
[data-theme='modus-modern-light'] .modus-wc-chip,
[data-theme='modus-classic-light'] .modus-wc-chip {
  &.modus-wc-btn {
    $modus-wc-chip-active-filled-bg: #217cbb4d; // --modus-wc-color-blue-light with 30% opacity

    background-color: var(--modus-wc-color-gray-1);
    color: var(--modus-wc-color-gray-9);

    &.modus-wc-chip--active {
      background-color: $modus-wc-chip-active-filled-bg;
      border-color: transparent;
      color: var(--modus-wc-color-trimble-gray);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-blue-pale);
        border-color: var(--modus-wc-color-blue-light);
        color: var(--modus-wc-color-blue-light);

        .modus-wc-chip-label {
          color: var(--modus-wc-color-gray-9);
        }
      }
    }

    &.modus-wc-chip--error {
      background-color: var(--modus-wc-color-red-pale);
      border-color: transparent;
      color: var(--modus-wc-color-red-dark);

      &.modus-wc-chip--outline {
        border-color: var(--modus-wc-color-red-dark);
      }
    }

    &.modus-wc-chip--outline {
      background-color: transparent;
      border-color: var(--modus-wc-color-gray-4);
    }

    &:hover:not(.modus-wc-chip--active):not(.modus-wc-chip--error) {
      background-color: var(--modus-wc-color-gray-0);
      border-color: transparent;
      color: var(--modus-wc-color-gray-9);

      &.modus-wc-chip--outline {
        background-color: var(--modus-wc-color-gray-0);
        border-color: var(--modus-wc-color-gray-4);
        color: var(--modus-wc-color-gray-7);
      }
    }
  }

  &.modus-wc-chip--disabled {
    opacity: 0.3;
  }
}

[data-theme='modus-modern-dark'] .modus-wc-chip,
[data-theme='modus-classic-dark'] .modus-wc-chip {
  &.modus-wc-btn {
    $modus-wc-chip-active-filled-bg: #217cbb4d; // --modus-wc-color-blue-light with 30% opacity
    $modus-wc-chip-outline-hover-bg: #cbcdd61f; // --modus-wc-color-gray-1 with 12% opacity
    $modus-wc-chip-outline-active-bg: #0e416c80; // --modus-wc-color-blue-dark with 50% opacity

    background-color: var(--modus-wc-color-gray-1);
    color: var(--modus-wc-color-gray-9);

    &.modus-wc-chip--active {
      background-color: var(--modus-wc-color-highlight-blue);
      border-color: transparent;
      color: var(--modus-wc-color-gray-10);

      &.modus-wc-chip--outline {
        background-color: $modus-wc-chip-outline-active-bg;
        border-color: var(--modus-wc-color-highlight-blue);
        color: var(--modus-wc-color-gray-1);
      }
    }

    &.modus-wc-chip--error {
      background-color: var(--modus-wc-color-red-pale);
      border-color: transparent;
      color: var(--modus-wc-color-red-dark);

      &.modus-wc-chip--outline {
        border-color: var(--modus-wc-color-red-dark);
        background-color: var(--modus-wc-color-red-pale);
        color: var(--modus-wc-color-red-dark);
      }
    }

    &.modus-wc-chip--outline {
      background-color: transparent;
      border-color: var(--modus-wc-color-gray-1);
      color: var(--modus-wc-color-gray-1);
    }

    &:hover:not(.modus-wc-chip--active):not(.modus-wc-chip--error) {
      background-color: var(--modus-wc-color-gray-0);
      border-color: transparent;
      color: var(--modus-wc-color-gray-9);

      &.modus-wc-chip--outline {
        background-color: $modus-wc-chip-outline-hover-bg;
        border-color: var(--modus-wc-color-gray-5);
        color: var(--modus-wc-color-gray-1);
      }
    }
  }

  // TODO: include variables for opacity in 'variables.scss'
  &.modus-wc-chip--disabled {
    opacity: 0.6;
  }
}

.modus-wc-chip-avatar-container {
  display: flex;
}

.modus-wc-chip-avatar--disabled {
  filter: grayscale(100%);
}
