/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

[data-theme='modus-classic-light'] .modus-wc-chip,
[data-theme='modus-classic-dark'] .modus-wc-chip {
  &.modus-wc-btn {
    $modus-wc-chip-active-bg: #217cbb4d; // modus-wc-color-blue-light with 30% opacity

    box-sizing: border-box;

    background-color: var(--modus-wc-color-gray-1);
    color: var(--modus-wc-color-gray-9);

    &:hover {
      background-color: var(--modus-wc-color-gray-0);
      color: var(--modus-wc-color-gray-9);
    }

    &.modus-wc-chip--error {
      background-color: var(--modus-wc-color-red-pale);
      color: var(--modus-wc-color-red-dark);
    }

    &.modus-wc-chip--active {
      background-color: $modus-wc-chip-active-bg;
      color: var(--modus-wc-color-trimble-gray);
    }

    &.modus-wc-btn-sm {
      --rounded-btn: 0.75rem;
      height: 1.5rem; // 24px
      min-height: 1.5rem;
      padding: 0.1875rem 0.75rem; // 3px 12px

      .modus-wc-chip-avatar {
        width: 1rem;
        height: 1rem;
      }

      .modus-wc-chip-close-icon {
        width: 1rem;
        height: 1rem;
      }
    }

    &.modus-wc-btn-md {
      --rounded-btn: 1rem;
      height: 2rem; // 32px
      min-height: 2rem;
      padding: 0.4375rem 0.75rem; // 7px 12px

      .modus-wc-chip-avatar {
        width: 1rem;
        height: 1rem;
      }

      .modus-wc-chip-close-icon {
        width: 1rem;
        height: 1rem;
      }
    }

    &.modus-wc-btn-lg {
      --rounded-btn: 1.5rem;
      height: 3rem; // 48px
      min-height: 3rem;
      padding: 0.75rem 1rem; // 12px 16px

      .modus-wc-chip-avatar {
        width: 1.5rem; // 24px
        height: 1.5rem;
      }

      .modus-wc-chip-close-icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    // FIXME: change this to use specific color variables for
    //        background, border, and text colors
    &.modus-wc-chip--outline {
      --tw-bg-opacity: 0.5;
    }
  }
}

// TODO: include variables for opacity in 'variables.scss'
[data-theme='modus-classic-light'] .modus-wc-chip {
  &.modus-wc-chip--disabled {
    opacity: 0.3;
  }
}

[data-theme='modus-classic-dark'] .modus-wc-chip {
  &.modus-wc-chip--disabled {
    opacity: 0.6;
  }
}

[data-theme='modus-modern-light'] .modus-wc-chip,
[data-theme='modus-modern-dark'] .modus-wc-chip {
  &.modus-wc-btn {
    &.modus-wc-btn-sm {
      height: 1.5rem;
      min-height: 1.5rem;

      .modus-wc-chip-avatar {
        width: 1.25rem;
      }

      .modus-wc-chip-close-icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    &.modus-wc-btn-md {
      height: 1.875rem;
      min-height: 1.875rem;

      .modus-wc-chip-avatar {
        width: 1.5rem;
      }

      .modus-wc-chip-close-icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &.modus-wc-btn-lg {
      height: 2.25rem;
      min-height: 2.25rem;

      .modus-wc-chip-avatar {
        width: 1.75rem;
      }

      .modus-wc-chip-close-icon {
        width: 1.75rem;
        height: 1.75rem;
      }
    }

    // FIXME: change this to use specific color variables for
    //        background, border, and text colors
    &.modus-wc-chip--outline {
      --tw-bg-opacity: 0.5;
    }
  }
}

.modus-wc-chip-avatar-container {
  display: flex;
}

.modus-wc-chip-avatar--disabled {
  filter: grayscale(100%);
}
