/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

ul.modus-wc-menu {
  /* Enforce Tailwind CSS reset */
  list-style: none;
  margin: 0;
  padding-inline-start: 0;

  border-radius: var(--modus-wc-border-radius-md);
  padding: 0;

  &.modus-wc-menu--bordered {
    border: var(--modus-wc-border-width-xs) solid var(--modus-wc-color-gray-0);
  }
}

[data-theme='modus-classic-light'] ul.modus-wc-menu {
  border-color: var(--modus-wc-color-gray-0);
}

[data-theme='modus-classic-dark'] ul.modus-wc-menu {
  border-color: var(--modus-wc-color-gray-8);
}
