/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-menu .modus-wc-menu {
  background-color: var(--modus-wc-color-base-page);
  border-radius: var(--modus-wc-border-radius-md);

  /* Enforce Tailwind CSS reset */
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;

  &.modus-wc-menu--bordered {
    border: var(--modus-wc-border-width-xs) solid var(--modus-wc-color-base-200);
  }
}

[data-theme='modus-classic-light'] modus-wc-menu .modus-wc-menu {
  background-color: var(--modus-wc-color-white);
  border-color: var(--modus-wc-color-gray-0);
}

[data-theme='modus-classic-dark'] modus-wc-menu .modus-wc-menu {
  background-color: var(--modus-wc-color-black);
  border-color: var(--modus-wc-color-gray-8);
}
