.modus-wc-modal-close-icon-btn {
  color: var(
    --modus-wc-color-trimble-gray
  ) !important; // TODO: fix specificity issue that requires !important

  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}
