/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-toggle.modus-wc-toggle-host {
  align-items: center;
  display: flex;

  .modus-wc-input-label {
    padding-inline-start: var(--modus-wc-spacing-md);
  }
}

[data-theme='modus-classic-light'] modus-wc-toggle .modus-wc-toggle,
[data-theme='modus-classic-dark'] modus-wc-toggle .modus-wc-toggle {
  --rounded-badge: 32px;

  background-color: var(--modus-wc-color-white);
  border: none;
  color: var(--modus-wc-color-gray-4);
  outline-color: var(--modus-wc-color-highlight-blue);

  // Set default colors
  --fallback-b1: var(--modus-wc-color-gray-4);

  &.modus-wc-toggle-xl {
    --handleoffset: 2.5rem;

    height: 2.5rem;
    width: 5rem;
  }

  &:checked {
    --fallback-b1: var(--modus-wc-color-blue-light);

    color: var(--modus-wc-color-blue-light);
  }

  &:not(:disabled) {
    &:hover:not(:checked) {
      background-color: var(--modus-wc-color-white);
      outline: 2px solid var(--modus-wc-color-blue-light);
      outline-offset: -2px;
    }

    &:hover:checked {
      background-color: var(--modus-wc-color-white);

      --fallback-b1: var(--modus-wc-color-trimble-blue);
    }

    &:focus-visible {
      outline: 2px solid var(--modus-wc-color-highlight-blue);
      outline-offset: 2px;
    }
  }

  &:disabled {
    background-color: var(--modus-wc-color-white);
  }
}

[data-theme='modus-classic-dark'] modus-wc-toggle .modus-wc-toggle {
  &:checked {
    --fallback-b1: var(--modus-wc-color-highlight-blue);

    color: var(--modus-wc-color-highlight-blue);
  }

  &:not(:disabled) {
    &:hover:not(:checked) {
      background-color: var(--modus-wc-color-white);
      outline: 2px solid var(--modus-wc-color-highlight-blue);
      outline-offset: -2px;
    }

    &:hover:checked {
      background-color: var(--modus-wc-color-white);

      --fallback-b1: var(--modus-wc-color-blue-light);
    }
  }
}
