/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-progress.modus-wc-progress-container {
  position: relative;

  .modus-wc-progress-label {
    display: flex;
    font-size: var(--modus-wc-font-size-sm);
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .modus-wc-radial-progress-label {
    font-size: var(--modus-wc-font-size-md);
    margin: 0 var(--modus-wc-spacing-lg);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .modus-wc-progress {
    color: var(--modus-wc-color-primary);
  }

  .modus-wc-radial-progress {
    color: var(--modus-wc-color-trimble-blue);

    &.modus-wc-radial-progress--indeterminate {
      --value: var(--_value) !important;

      animation-duration: 5s;
      animation-iteration-count: infinite;
      animation-name: grow;
      animation-timing-function: ease-in-out;
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-progress .modus-wc-progress,
[data-theme='modus-classic-dark'] modus-wc-progress .modus-wc-progress {
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--modus-wc-color-gray-6);
  border-radius: var(--modus-wc-border-radius-sm);
  height: var(--modus-wc-line-height-sm);
  overflow: hidden;

  /* Override default progress element styling */
  width: 100%;

  &::-webkit-progress-value {
    border-radius: var(--modus-wc-border-radius-sm);
  }

  &::-moz-progress-bar {
    border-radius: var(--modus-wc-border-radius-sm);
  }

  .modus-wc-progress-label {
    color: var(--modus-wc-color-white);
  }
}

[data-theme='modus-classic-light'] modus-wc-progress .modus-wc-progress {
  &::-webkit-progress-value {
    background-color: var(--modus-wc-color-trimble-blue);
  }

  &::-moz-progress-bar {
    background-color: var(--modus-wc-color-trimble-blue);
  }

  &:indeterminate {
    background-color: transparent;

    --progress-color: var(--modus-wc-color-trimble-blue);
  }
}

[data-theme='modus-classic-dark'] modus-wc-progress .modus-wc-progress {
  &::-webkit-progress-value {
    background-color: var(--modus-wc-color-highlight-blue);
  }

  &::-moz-progress-bar {
    background-color: var(--modus-wc-color-highlight-blue);
  }

  &:indeterminate {
    background-color: transparent;

    --progress-color: var(--modus-wc-color-highlight-blue);
  }
}

.modus-wc-radial-progress {
  &.modus-wc-radial-progress--indeterminate {
    --value: var(--_value) !important;

    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: grow;
    animation-timing-function: ease-in-out;
  }
}

[data-theme='modus-classic-light'] .modus-wc-radial-progress {
  color: var(--modus-wc-color-primary);
}

[data-theme='modus-classic-dark'] .modus-wc-radial-progress {
  color: var(--modus-wc-color-highlight-blue);
}

@property --_value {
  inherits: true;
  initial-value: 0;
  syntax: '<number>';
}

@keyframes grow {
  0% {
    --_value: 0;
  }

  50% {
    --_value: 100;
  }

  100% {
    --_value: 0;
  }
}
