modus-wc-file-dropzone .modus-wc-file-dropzone {
  .modus-wc-file-input {
    display: none;
  }

  .dropzone-content {
    align-items: center;
    background-color: var(--modus-wc-color-gray-light);
    border: 0.125rem dashed var(--modus-wc-color-gray-6);
    color: var(--modus-wc-color-gray-6);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    height: 201px;
    justify-content: center;
    padding: 0.75rem 1rem;
    transition: background-color 0.2s ease;
    width: 431px;

    &.dragging-over {
      background-color: var(--modus-wc-color-blue-pale);
      border-color: var(--modus-wc-color-trimble-blue);
      color: var(--modus-wc-color-gray-10);
    }

    &.invalid-file-type {
      background-color: rgba(251, 212, 215, 0.8);
      border-color: var(--modus-wc-color-red-dark);
      color: var(--modus-wc-color-gray-10);

      @supports (background-color: color-mix(in sRGB, red 50%, blue)) {
        background-color: color-mix(
          in sRGB,
          var(--modus-wc-color-red-pale) 80%,
          transparent
        );
      }
    }

    &.upload-success {
      background-color: rgba(224, 236, 207, 0.8);
      border-color: var(--modus-wc-color-green-dark);
      color: var(--modus-wc-color-gray-10);

      @supports (background-color: color-mix(in sRGB, red 50%, blue)) {
        background-color: color-mix(
          in sRGB,
          var(--modus-wc-color-green-pale) 80%,
          transparent
        );
      }
    }

    .default-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        text-align: center;
      }
    }
  }

  &:has(input:disabled) {
    .dropzone-content {
      background-color: var(--modus-wc-color-gray-0);
      border-color: var(--modus-wc-color-gray-6);
      color: var(--modus-wc-color-gray-6);
      cursor: not-allowed;
    }
  }
}

[data-theme='modus-classic-dark']
  modus-wc-file-dropzone
  .modus-wc-file-dropzone,
[data-theme='modus-modern-dark'] modus-wc-file-dropzone .modus-wc-file-dropzone,
[data-theme='connect-dark'] modus-wc-file-dropzone .modus-wc-file-dropzone {
  .dropzone-content {
    background-color: var(--modus-wc-color-gray-10);
    color: var(--modus-wc-color-gray-3);

    &.dragging-over {
      background-color: rgba(1, 154, 235, 0.3);
      border-color: var(--modus-wc-color-highlight-blue);
      color: var(--modus-wc-color-gray-light);

      @supports (background-color: color-mix(in sRGB, red 50%, blue)) {
        background-color: color-mix(
          in sRGB,
          var(--modus-wc-color-highlight-blue) 30%,
          transparent
        );
      }
    }

    &.invalid-file-type {
      background-color: rgba(218, 33, 44, 0.5);
      border-color: var(--modus-wc-color-red);
      color: var(--modus-wc-color-gray-light);

      @supports (background-color: color-mix(in sRGB, red 50%, blue)) {
        background-color: color-mix(
          in sRGB,
          var(--modus-wc-color-red) 50%,
          transparent
        );
      }
    }

    &.upload-success {
      background-color: rgba(30, 138, 68, 0.5);
      border-color: var(--modus-wc-color-green);
      color: var(--modus-wc-color-gray-light);

      @supports (background-color: color-mix(in sRGB, red 50%, blue)) {
        background-color: color-mix(
          in sRGB,
          var(--modus-wc-color-green) 50%,
          transparent
        );
      }
    }
  }

  &:has(input:disabled) {
    .dropzone-content {
      background-color: var(--modus-wc-color-gray-9);
      border-color: var(--modus-wc-color-gray-3);
      color: var(--modus-wc-color-gray-3);
      cursor: not-allowed;
    }
  }
}
