// TODO: remove this once stylelint is updated or configured to allow selector patterns with escaped colons
/* stylelint-disable selector-class-pattern */

/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

[data-theme='modus-modern-dark'] {
  .modus\:toggle {
    --tglbg: var(--modus-wc-color-gray-9);

    border-color: var(--modus-wc-color-black);
  }

  .modus\:stroke-base-100 {
    stroke: var(--modus-wc-color-white);
  }

  .modus\:fill-base-100 {
    fill: var(--modus-wc-color-gray-9);
  }

  .modus\:bg-base-content {
    background-color: var(--modus-wc-color-black);
  }
}

[data-theme='modus-modern-light'] {
  .modus\:toggle {
    --tglbg: var(--modus-wc-color-gray-0);

    border-color: var(--modus-wc-white);
  }

  .modus\:stroke-base-100 {
    stroke: var(--modus-wc-color-black);
  }

  .modus\:fill-base-100 {
    fill: var(--modus-wc-color-gray-0);
  }

  .modus\:bg-base-content {
    background-color: var(--modus-wc-color-white);
  }
}

.modus\:toggle {
  &.modus\:stroke-base-100 {
    stroke: var(--modus-wc-color-base-300);
  }

  &.modus\:fill-base-100 {
    fill: var(--modus-wc-color-base-300);
  }
}

.modus\:toggle:checked {
  &.modus\:stroke-base-100 {
    stroke: var(--modus-wc-color-base-100);
  }

  &.modus\:fill-base-100 {
    fill: var(--modus-wc-color-base-100);
  }
}
