/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-link a.modus-wc-link {
  &.modus-wc-link-color-primary {
    color: var(--modus-wc-color-primary);
  }

  &.modus-wc-link-color-secondary {
    color: var(--modus-wc-color-secondary);
  }

  &.modus-wc-link-color-tertiary {
    color: var(--modus-wc-color-base-inverted);
  }

  &.modus-wc-link-color-success {
    color: var(--modus-wc-color-success);
  }

  &.modus-wc-link-color-info {
    color: var(--modus-wc-color-info);
  }

  &.modus-wc-link-color-warning {
    color: var(--modus-wc-color-warning);
  }

  &.modus-wc-link-color-danger {
    color: var(--modus-wc-color-error);
  }

  &.modus-wc-link-color-inherit {
    color: inherit;
  }
}
