/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-link a.modus-wc-link {
  &.modus-wc-link-color-primary {
    color: var(--modus-wc-color-primary);
  }

  &.modus-wc-link-color-secondary {
    color: var(--modus-wc-color-secondary);
  }

  &.modus-wc-link-color-tertiary {
    color: var(--modus-wc-color-base-inverted);
  }

  &.modus-wc-link-color-success {
    color: var(--modus-wc-color-green-dark);
  }

  &.modus-wc-link-color-info {
    color: var(--modus-wc-color-info-blue);
  }

  &.modus-wc-link-color-warning {
    color: var(--modus-wc-color-warning);
  }

  &.modus-wc-link-color-danger {
    color: var(--modus-wc-color-red-dark);
  }

  &.modus-wc-link-color-inherit {
    color: inherit;
  }
}

[data-theme='modus-classic-dark'] modus-wc-link a.modus-wc-link,
[data-theme='modus-modern-dark'] modus-wc-link a.modus-wc-link,
[data-theme='connect-dark'] modus-wc-link a.modus-wc-link {
  &.modus-wc-link-color-success {
    color: var(--modus-wc-color-green-light);
  }

  &.modus-wc-link-color-info {
    color: var(--modus-wc-color-blue-light);
  }

  &.modus-wc-link-color-danger {
    color: var(--modus-wc-color-red-light);
  }
}
