/* stylelint-disable selector-class-pattern */

/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus\:input {
  @include feedback-levels;
}

modus-wc-text-input {
  .modus\:input-label {
    padding-bottom: var(--modus-wc-spacing-sm);
  }

  // Icon sizes
  .modus\:text-input {
    &.modus\:input {
      &.modus\:input-sm {
        .modus\:text-input-icon {
          height: var(--modus-wc-line-height-sm);
          width: var(--modus-wc-line-height-sm);
        }
      }

      &.modus\:input-md {
        .modus\:text-input-icon {
          height: var(--modus-wc-line-height-md);
          width: var(--modus-wc-line-height-md);
        }
      }

      &.modus\:input-lg {
        .modus\:text-input-icon {
          height: var(--modus-wc-line-height-lg);
          width: var(--modus-wc-line-height-lg);
        }
      }

      .modus\:text-input-icon {
        &.modus\:text-input-icon-clear {
          cursor: pointer;
        }
      }

      .modus\:clear-icon-container {
        align-items: center;
        display: flex;
        justify-content: center;
        min-width: var(--modus-wc-line-height-md);

        &.modus\:clear-icon-hidden {
          pointer-events: none;
          visibility: hidden;
        }

        &.modus\:clear-icon-visible {
          visibility: visible;
        }
      }

      &.modus\:input-sm .modus\:clear-icon-container {
        min-width: var(--modus-wc-line-height-sm);
      }

      &.modus\:input-lg .modus\:clear-icon-container {
        min-width: var(--modus-wc-line-height-lg);
      }
    }
  }
}

// TODO - see if we can simplify this styling by overriding tailwind classes (see modus-wc-checkbox.scss)
[data-theme='modus-classic-light'] modus-wc-text-input .modus\:text-input,
[data-theme='modus-classic-dark'] modus-wc-text-input .modus\:text-input {
  &.modus\:input {
    border-radius: var(--modus-wc-border-radius-md);

    // TODO - add support for xs and xl once added to Modus Figma

    &.modus\:input-sm {
      font-size: var(--modus-wc-font-size-sm);
      height: var(--modus-wc-input-height-sm);
      line-height: var(--modus-wc-line-height-sm);
      padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-xs);
    }

    &.modus\:input-md {
      font-size: var(--modus-wc-font-size-md);
      height: var(--modus-wc-input-height-md);
      line-height: var(--modus-wc-line-height-md);
      padding: var(--modus-wc-spacing-sm);
    }

    &.modus\:input-lg {
      font-size: var(--modus-wc-font-size-lg);
      height: var(--modus-wc-input-height-lg);
      line-height: var(--modus-wc-line-height-xl);
      padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-sm);
    }

    &:focus-within {
      border-width: var(--modus-wc-border-width-sm);
      box-shadow: none; // Removes the Tailwind ring effect
      outline: none; // Ensures there's no outline on focus
    }

    .modus\:text-input-icon {
      &.modus\:text-input-icon-clear {
        &:focus:not(:focus-visible) {
          outline: none;
        }
      }
    }

    &.modus\:text-input--readonly {
      background-color: var(--modus-wc-color-base-100);
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-text-input .modus\:text-input {
  &.modus\:input {
    &.modus\:input-bordered:not(:disabled) {
      border-color: var(--modus-wc-color-accent);

      &:focus-within {
        border-color: var(--modus-wc-color-blue-light);
      }
    }

    .modus\:text-input-icon {
      color: var(--modus-wc-color-gray-8);
    }
  }
}

[data-theme='modus-classic-dark'] modus-wc-text-input .modus\:text-input {
  &.modus\:input {
    .modus\:text-input-icon {
      color: var(--modus-wc-color-gray-2);
    }

    &:focus-within {
      border-color: var(--modus-wc-color-highlight-blue);
    }
  }
}
