/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus-wc-input {
  @include feedback-levels();
}

label.modus-wc-input-label {
  padding-bottom: var(--modus-wc-spacing-xs);
}

// TODO - see if we can simplify this styling by overriding tailwind classes (see modus-wc-checkbox.scss)
[data-theme='modus-classic-light'] .modus-wc-input,
[data-theme='modus-classic-dark'] .modus-wc-input {
  border-radius: var(--modus-wc-border-radius-md);

  .modus-wc-input-label {
    padding-bottom: var(--modus-wc-spacing-2xs);
  }

  // TODO - add support for xs and xl once added to Modus Figma

  &.modus-wc-input-sm {
    font-size: var(--modus-wc-font-size-sm);
    height: var(--modus-wc-input-height-sm);
    line-height: var(--modus-wc-line-height-sm);
    padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-xs);
  }

  &.modus-wc-input-md {
    font-size: var(--modus-wc-font-size-md);
    height: var(--modus-wc-input-height-md);
    line-height: var(--modus-wc-line-height-md);
    padding: var(--modus-wc-spacing-sm);
  }

  &.modus-wc-input-lg {
    font-size: var(--modus-wc-font-size-lg);
    height: var(--modus-wc-input-height-lg);
    line-height: var(--modus-wc-line-height-lg);
    padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-sm);
  }

  &:focus-within {
    border-width: var(--modus-wc-border-width-sm);
    box-shadow: none; // Removes the Tailwind ring effect
    outline: none; // Ensures there's no outline on focus
  }

  .modus-wc-text-input-icon {
    &.modus-wc-text-input-icon-clear {
      &:focus:not(:focus-visible) {
        outline: none;
      }
    }
  }

  &.modus-wc-text-input-readonly {
    background-color: var(--modus-wc-color-base-100);
  }
}

[data-theme='modus-classic-light'] .modus-wc-input {
  &.modus-wc-input-bordered:not(:disabled) {
    border-color: var(--modus-wc-color-accent);

    &:focus-within {
      border-color: var(--modus-wc-color-blue-light);
    }
  }

  .modus-wc-text-input-icon {
    color: var(--modus-wc-color-gray-8);
  }
}

[data-theme='modus-classic-dark'] .modus-wc-input {
  .modus-wc-text-input-icon {
    color: var(--modus-wc-color-gray-2);
  }

  &:focus-within {
    border-color: var(--modus-wc-color-highlight-blue);
  }
}

// Icon sizes
.modus-wc-input {
  &.modus-wc-input-sm {
    .modus-wc-text-input-icon {
      height: var(--modus-wc-line-height-sm);
      width: var(--modus-wc-line-height-sm);
    }
  }

  &.modus-wc-input-md {
    .modus-wc-text-input-icon {
      height: var(--modus-wc-line-height-md);
      width: var(--modus-wc-line-height-md);
    }
  }

  &.modus-wc-input-lg {
    .modus-wc-text-input-icon {
      height: var(--modus-wc-line-height-lg);
      width: var(--modus-wc-line-height-lg);
    }
  }

  .modus-wc-text-input-icon {
    &.modus-wc-text-input-icon-clear {
      cursor: pointer;
    }
  }

  .modus-wc-clear-icon-container {
    display: flex;
    min-width: var(--modus-wc-line-height-md);
    justify-content: center;
    align-items: center;

    &.modus-wc-clear-icon-hidden {
      visibility: hidden;
      pointer-events: none;
    }

    &.modus-wc-clear-icon-visible {
      visibility: visible;
    }
  }

  &.modus-wc-input-sm .modus-wc-clear-icon-container {
    min-width: var(--modus-wc-line-height-sm);
  }

  &.modus-wc-input-lg .modus-wc-clear-icon-container {
    min-width: var(--modus-wc-line-height-lg);
  }
}
