/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus-wc-btn {
  --rounded-btn: var(--modus-wc-border-radius-lg);

  &.modus-wc-btn-xs {
    font-size: var(--modus-wc-font-size-xs);
  }

  &.modus-wc-btn-sm {
    font-size: var(--modus-wc-font-size-sm);
  }

  &.modus-wc-btn-lg {
    font-size: var(--modus-wc-font-size-lg);
  }

  &.modus-wc-btn-borderless {
    --tw-bg-opacity: 0;

    border: none;
    box-shadow: none;

    &.modus-wc-btn-primary {
      color: var(--modus-wc-color-primary);
    }

    &.modus-wc-btn-secondary {
      color: var(--modus-wc-color-accent);
    }

    &.modus-wc-btn-neutral {
      color: var(--modus-wc-color-neutral);
    }

    &.modus-wc-btn-warning {
      color: var(--modus-wc-color-warning);
    }

    &.modus-wc-btn-error {
      color: var(--modus-wc-color-error);
    }

    &:hover {
      --tw-bg-opacity: 0.05;

      border: none;
      box-shadow: none;
    }

    &:active {
      --tw-bg-opacity: 0.1;

      border: none;
      box-shadow: none;
    }
  }
}
