/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus-wc-badge {
  // Colors
  &.modus-wc-badge-high-contrast {
    background-color: var(--modus-wc-color-base-content);
    border-color: var(--modus-wc-color-base-content);
    color: var(--modus-wc-color-white);
  }

  // Types
  &.modus-wc-badge-counter {
    border-radius: 1rem;
  }

  &.modus-wc-badge-text {
    background-color: transparent;
    color: var(--modus-wc-color-base-content);
    border: none;
  }
}
