/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

// TODO - see if we can simplify this styling by overriding tailwind classes (see modus-wc-checkbox.scss)
.modus-wc-badge {
  &.modus-wc-badge-sm {
    font-size: var(--modus-wc-font-size-xs);
  }

  &.modus-wc-badge-md {
    font-size: var(--modus-wc-font-size-sm);
  }

  // Colors
  &.modus-wc-badge-high-contrast {
    background-color: var(--modus-wc-color-base-content);
    border-color: var(--modus-wc-color-base-content);
    color: var(--modus-wc-color-white);
  }

  // Types
  &.modus-wc-badge-counter {
    border-radius: 1rem;
  }

  &.modus-wc-badge-text {
    background-color: transparent;
    border: none;

    &.modus-wc-badge-primary {
      color: var(--modus-wc-color-trimble-blue);
    }

    &.modus-wc-badge-secondary {
      color: var(--modus-wc-color-gray-6);
    }

    &.modus-wc-badge-neutral {
      color: var(--modus-wc-color-gray-1);
    }

    &.modus-wc-badge-high-contrast {
      color: var(--modus-wc-color-base-content);
    }

    &.modus-wc-badge-success {
      color: var(--modus-wc-color-success);
    }

    &.modus-wc-badge-warning {
      color: var(--modus-wc-color-warning);
    }

    &.modus-wc-badge-error {
      color: var(--modus-wc-color-error);
    }
  }
}

[data-theme='modus-classic-light'] .modus-wc-badge,
[data-theme='modus-classic-dark'] .modus-wc-badge {
  border-radius: 4px;
  font-weight: 700;
  &.modus-wc-badge-success {
    background-color: var(--modus-wc-color-green-dark);
  }

  &.modus-wc-badge-sm {
    border-radius: 2px;
    font-size: var(--modus-wc-font-size-xs);
    height: var(--modus-wc-font-size-md);
    padding: 0 4px;
  }

  &.modus-wc-badge-md {
    font-size: var(--modus-wc-font-size-sm);
    height: var(--modus-wc-font-size-2xl);
    padding: 0 7px;
  }

  &.modus-wc-badge-lg {
    font-size: var(--modus-wc-font-size-lg);
    height: 28px;
    padding: 0 12px;
  }
}

[data-theme='modus-classic-dark'] .modus-wc-badge {
  border: unset;

  // Colors
  &.modus-wc-badge-primary {
    background-color: var(--modus-wc-color-highlight-blue);
    color: var(--modus-wc-color-gray-10);
  }

  &.modus-wc-badge-success {
    background-color: var(--modus-wc-color-success);
  }

  &.modus-wc-badge-secondary {
    background-color: var(--modus-wc-color-gray-6);
    color: var(--modus-wc-color-white);
  }

  &.modus-wc-badge-neutral {
    background-color: var(--modus-wc-color-gray-1);
    color: var(--modus-wc-color-trimble-gray);
  }

  &.modus-wc-badge-high-contrast {
    background-color: var(--modus-wc-color-gray-light);
    color: var(--modus-wc-color-gray-10);
  }

  // Types
  &.modus-wc-badge-text {
    background-color: transparent;

    &.modus-wc-badge-primary {
      color: var(--modus-wc-color-highlight-blue);
    }

    &.modus-wc-badge-high-contrast {
      color: var(--modus-wc-color-gray-light);
    }
  }
}
