.modus-wc-logo {
  display: block;

  svg {
    height: 100%;
    object-fit: contain;
    width: 100%;
  }

  .logo-emblem-trimble {
    fill: var(--modus-wc-color-info-blue-on-dark);
  }

  .logo-accent {
    fill: var(--modus-wc-color-primary);
  }

  .logo-text {
    fill: var(--modus-wc-color-base-inverted);
  }

  .logo-secondary {
    fill: var(--modus-wc-color-secondary);
  }
}
