/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus-wc-progress-container {
  position: relative;
}

.modus-wc-progress-label {
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  width: 100%;
  top: 0;
}

[data-theme='modus-classic-light'] .modus-wc-progress,
[data-theme='modus-classic-dark'] .modus-wc-progress {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid var(--modus-wc-color-gray-6);
  border-radius: var(--modus-wc-border-radius-sm);
  height: var(--modus-wc-line-height-sm);
  overflow: hidden;

  /* Override default progress element styling */
  width: 100%;

  &::-webkit-progress-value {
    border-radius: var(--modus-wc-border-radius-sm);
  }

  &::-moz-progress-bar {
    border-radius: var(--modus-wc-border-radius-sm);
  }
}

[data-theme='modus-classic-light'] .modus-wc-progress-text,
[data-theme='modus-classic-dark'] .modus-wc-progress-text {
  color: var(--modus-wc-color-white);
}

[data-theme='modus-classic-light'] .modus-wc-progress {
  &::-webkit-progress-value {
    background-color: var(--modus-wc-color-trimble-blue);
  }

  &::-moz-progress-bar {
    background-color: var(--modus-wc-color-trimble-blue);
  }

  &:indeterminate {
    background-color: transparent;

    --progress-color: var(--modus-wc-color-trimble-blue);
  }
}

[data-theme='modus-classic-dark'] .modus-wc-progress {
  &::-webkit-progress-value {
    background-color: var(--modus-wc-color-highlight-blue);
  }

  &::-moz-progress-bar {
    background-color: var(--modus-wc-color-highlight-blue);
  }

  &:indeterminate {
    background-color: transparent;

    --progress-color: var(--modus-wc-color-highlight-blue);
  }
}
