/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-switch.modus-wc-switch-host {
  --rounded-badge: 32px;

  align-items: center;
  display: flex;

  .modus-wc-input-label {
    font-weight: var(--modus-wc-font-weight-normal);
    padding-inline-start: var(--modus-wc-spacing-md);
  }
}

[data-theme='modus-classic-light'] modus-wc-switch .modus-wc-toggle,
[data-theme='modus-classic-dark'] modus-wc-switch .modus-wc-toggle {
  background-color: var(--modus-wc-color-white);
  border: none;
  color: var(--modus-wc-color-gray-4);
  outline-color: var(--modus-wc-color-highlight-blue);

  // Set default colors
  --fallback-b1: var(--modus-wc-color-gray-4);

  // Sizes
  &.modus-wc-toggle-sm {
    --handleoffset: 1rem;

    height: 1rem;
    width: 2rem;
  }

  &.modus-wc-toggle-md {
    --handleoffset: 1.25rem;

    height: 1.25rem;
    width: 2.5rem;
  }

  &.modus-wc-toggle-lg {
    --handleoffset: 1.5rem;

    height: 1.5rem;
    width: 3rem;
  }

  &:checked {
    --fallback-b1: var(--modus-wc-color-blue-light);

    color: var(--modus-wc-color-blue-light);
  }

  &:not(:disabled) {
    &:hover:not(:checked) {
      background-color: var(--modus-wc-color-white);
      outline: 2px solid var(--modus-wc-color-blue-light);
      outline-offset: -2px;
    }

    &:hover:checked {
      background-color: var(--modus-wc-color-white);

      --fallback-b1: var(--modus-wc-color-trimble-blue);
    }

    &:focus-visible {
      outline: 2px solid var(--modus-wc-color-highlight-blue);
      outline-offset: 2px;
    }
  }

  &:disabled {
    background-color: var(--modus-wc-color-white);
  }
}

[data-theme='modus-classic-dark'] modus-wc-switch .modus-wc-toggle {
  &:checked {
    --fallback-b1: var(--modus-wc-color-highlight-blue);

    color: var(--modus-wc-color-highlight-blue);
  }

  &:not(:disabled) {
    &:hover:not(:checked) {
      background-color: var(--modus-wc-color-white);
      outline: 2px solid var(--modus-wc-color-highlight-blue);
      outline-offset: -2px;
    }

    &:hover:checked {
      background-color: var(--modus-wc-color-white);

      --fallback-b1: var(--modus-wc-color-blue-light);
    }
  }
}

[data-theme='connect-light'] modus-wc-switch .modus-wc-toggle,
[data-theme='connect-dark'] modus-wc-switch .modus-wc-toggle {
  background-color: var(--modus-wc-color-white);
  border: none;
  color: var(--modus-wc-color-gray-4);
  outline-color: var(--modus-wc-color-highlight-blue);

  // Set default colors
  --fallback-b1: var(--modus-wc-color-gray-4);

  // Sizes
  &.modus-wc-toggle-sm {
    --handleoffset: 1rem;

    height: 1rem;
    width: 2rem;
  }

  &.modus-wc-toggle-md {
    --handleoffset: 1.25rem;

    height: 1.25rem;
    width: 2.5rem;
  }

  &.modus-wc-toggle-lg {
    --handleoffset: 1.5rem;

    height: 1.5rem;
    width: 3rem;
  }

  &:checked {
    --fallback-b1: var(--modus-wc-color-blue-light);

    color: var(--modus-wc-color-blue-light);
  }

  &:not(:disabled) {
    &:hover:not(:checked) {
      background-color: var(--modus-wc-color-white);
      outline: 2px solid var(--modus-wc-color-blue-light);
      outline-offset: -2px;
    }

    &:hover:checked {
      background-color: var(--modus-wc-color-white);

      --fallback-b1: var(--modus-wc-color-trimble-blue);
    }

    &:focus-visible {
      outline: 2px solid var(--modus-wc-color-highlight-blue);
      outline-offset: 2px;
    }
  }

  &:disabled {
    background-color: var(--modus-wc-color-white);
  }
}

[data-theme='connect-dark'] modus-wc-switch .modus-wc-toggle {
  &:checked {
    --fallback-b1: var(--modus-wc-color-highlight-blue);

    color: var(--modus-wc-color-highlight-blue);
  }

  &:not(:disabled) {
    &:hover:not(:checked) {
      background-color: var(--modus-wc-color-white);
      outline: 2px solid var(--modus-wc-color-highlight-blue);
      outline-offset: -2px;
    }

    &:hover:checked {
      background-color: var(--modus-wc-color-white);

      --fallback-b1: var(--modus-wc-color-blue-light);
    }
  }
}
