/* stylelint-disable selector-class-pattern */

/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus\:input {
  @include feedback-levels;
}

modus-wc-textarea {
  .modus\:input-label {
    padding-bottom: var(--modus-wc-spacing-sm);
  }
}

// TODO - see if we can simplify this styling by overriding tailwind classes (see modus-wc-checkbox.scss)
[data-theme='modus-classic-light'] modus-wc-textarea .modus\:textarea,
[data-theme='modus-classic-dark'] modus-wc-textarea .modus\:textarea {
  border-radius: var(--modus-wc-border-radius-md);

  // TODO - add support for xs and xl once added to Modus Figma

  &.modus\:textarea-sm {
    font-size: var(--modus-wc-font-size-sm);
    padding: var(--modus-wc-spacing-sm);
  }

  &.modus\:textarea-md {
    font-size: var(--modus-wc-font-size-md);
    padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-sm)
      var(--modus-wc-spacing-md) var(--modus-wc-spacing-sm);
  }

  &.modus\:textarea-lg {
    font-size: var(--modus-wc-font-size-lg);
    padding: var(--modus-wc-spacing-md);
  }

  &:focus {
    border-color: var(--modus-wc-color-blue-light);
    border-width: var(--modus-wc-border-width-sm);
    box-shadow: none; // Removes the Tailwind ring effect
    outline: none; // Ensures there's no outline on focus
  }

  &:read-only {
    background-color: var(--modus-wc-color-base-100);
  }
}

[data-theme='modus-classic-light'] modus-wc-textarea .modus\:textarea {
  &.modus\:textarea-bordered:not(:disabled):not(:focus) {
    border-color: var(--modus-wc-color-gray-6);
  }
}

[data-theme='modus-classic-dark'] modus-wc-textarea .modus\:textarea:focus {
  border-color: var(--modus-wc-color-highlight-blue);
}
