/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus-wc-checkbox-host {
  display: flex;
  align-items: center;

  .modus-wc-input-label {
    padding-inline-start: var(--modus-wc-spacing-md);
  }
}

[data-theme='modus-classic-light'] .modus-wc-checkbox,
[data-theme='modus-classic-dark'] .modus-wc-checkbox {
  --chkbg: var(--modus-wc-color-highlight-blue);
  --fallback-bc: var(--modus-wc-color-gray-4);
  --chkfg: var(--modus-wc-color-white);

  border-radius: var(--modus-wc-border-radius-sm);
  border-width: 2px;

  &.modus-wc-checkbox-xl {
    height: 4rem;
    width: 4rem;
  }

  &:checked {
    --fallback-bc: var(--modus-wc-color-highlight-blue);
  }

  &:checked:hover {
    --chkbg: var(--modus-wc-color-blue-light);
    --fallback-bc: var(--modus-wc-color-blue-light);
  }

  &:indeterminate {
    --fallback-bc: var(--modus-wc-color-highlight-blue);
  }

  &:disabled {
    opacity: 0.3;
  }

  &:focus {
    outline-color: color-mix(
      in srgb,
      var(--modus-wc-color-highlight-blue) 75%,
      transparent
    );
  }

  &:hover {
    --fallback-bc: var(--modus-wc-color-highlight-blue);
  }
}

[data-theme='modus-classic-light'] .modus-wc-checkbox {
  --chkbg: var(--modus-wc-color-blue-light);

  &:checked {
    --fallback-bc: var(--modus-wc-color-blue-light);
  }

  &:checked:hover {
    --chkbg: var(--modus-wc-color-trimble-blue);
    --fallback-bc: var(--modus-wc-color-trimble-blue);
  }

  &:indeterminate {
    --fallback-bc: var(--modus-wc-color-blue-light);
  }

  &:focus {
    outline-color: var(--modus-wc-color-highlight-blue);
  }

  &:hover {
    --fallback-bc: var(--modus-wc-color-blue-light);
  }
}
