/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

modus-wc-checkbox.modus-wc-checkbox-host {
  align-items: center;
  display: flex;

  .modus-wc-input-label {
    font-weight: var(--modus-wc-font-weight-normal);
    padding-inline-start: var(--modus-wc-spacing-md);
  }

  [type='checkbox'].modus-wc-checkbox {
    &:checked {
      --fallback-bc: var(--modus-wc-color-primary);
    }

    &:focus {
      outline-color: var(--modus-wc-color-primary);
    }

    &:hover {
      --fallback-bc: var(--modus-wc-color-primary);
    }
  }
}

[data-theme='modus-classic-light'] modus-wc-checkbox .modus-wc-checkbox,
[data-theme='modus-classic-dark'] modus-wc-checkbox .modus-wc-checkbox {
  --check-bg: var(--modus-wc-color-highlight-blue);
  --fallback-bc: var(--modus-wc-color-gray-4);
  --check-content: var(--modus-wc-color-white);

  border-radius: var(--modus-wc-border-radius-sm);
  border-width: var(--modus-wc-border-width-sm);

  // Sizes
  &.modus-wc-checkbox-sm {
    height: 0.75rem;
    width: 0.75rem;
  }

  &.modus-wc-checkbox-md {
    height: 1rem;
    width: 1rem;
  }

  &.modus-wc-checkbox-lg {
    height: 1.25rem;
    width: 1.25rem;
  }

  &:checked {
    --fallback-bc: var(--modus-wc-color-highlight-blue);
  }

  &:checked:hover {
    --check-bg: var(--modus-wc-color-blue-light);
    --fallback-bc: var(--modus-wc-color-blue-light);
  }

  &:indeterminate {
    --fallback-bc: var(--modus-wc-color-highlight-blue);
  }

  &:disabled {
    opacity: 0.3;

    &:not(:checked) {
      background-color: unset;
      border: var(--modus-wc-border-width-sm) solid var(--modus-wc-color-gray-4);
    }
  }

  &:focus {
    outline-color: color-mix(
      in sRGB,
      var(--modus-wc-color-highlight-blue) 75%,
      transparent
    );
  }

  &:hover {
    --fallback-bc: var(--modus-wc-color-highlight-blue);
  }
}

[data-theme='modus-classic-light'] modus-wc-checkbox .modus-wc-checkbox {
  --check-bg: var(--modus-wc-color-blue-light);

  &:checked {
    --fallback-bc: var(--modus-wc-color-blue-light);
  }

  &:checked:hover {
    --check-bg: var(--modus-wc-color-trimble-blue);
    --fallback-bc: var(--modus-wc-color-trimble-blue);
  }

  &:indeterminate {
    --fallback-bc: var(--modus-wc-color-blue-light);
  }

  &:focus {
    outline-color: var(--modus-wc-color-highlight-blue);
  }

  &:hover {
    --fallback-bc: var(--modus-wc-color-blue-light);
  }
}

[data-theme='connect-light'] modus-wc-checkbox .modus-wc-checkbox,
[data-theme='connect-dark'] modus-wc-checkbox .modus-wc-checkbox {
  --check-bg: var(--modus-wc-color-highlight-blue);
  --fallback-bc: var(--modus-wc-color-gray-4);
  --check-content: var(--modus-wc-color-white);

  border-radius: var(--modus-wc-border-radius-sm);
  border-width: var(--modus-wc-border-width-sm);

  // Sizes
  &.modus-wc-checkbox-sm {
    height: 0.75rem;
    width: 0.75rem;
  }

  &.modus-wc-checkbox-md {
    height: 1rem;
    width: 1rem;
  }

  &.modus-wc-checkbox-lg {
    height: 1.25rem;
    width: 1.25rem;
  }

  &:checked {
    --fallback-bc: var(--modus-wc-color-primary-color);
  }

  &:checked:hover {
    --check-bg: var(--modus-wc-color-blue-light);
    --fallback-bc: var(--modus-wc-color-blue-light);
  }

  &:indeterminate {
    --fallback-bc: var(--modus-wc-color-highlight-blue);
  }

  &:disabled {
    opacity: 0.3;

    &:not(:checked) {
      background-color: unset;
      border: var(--modus-wc-border-width-sm) solid var(--modus-wc-color-gray-4);
    }
  }

  &:focus {
    outline-color: color-mix(
      in sRGB,
      var(--modus-wc-color-highlight-blue) 75%,
      transparent
    );
  }

  &:hover {
    --fallback-bc: var(--modus-wc-color-highlight-blue);
  }
}

[data-theme='connect-light'] modus-wc-checkbox .modus-wc-checkbox {
  --check-bg: var(--modus-wc-color-primary-color);

  &:checked {
    --fallback-bc: var(--modus-wc-color-blue-light);
  }

  &:checked:hover {
    --check-bg: var(--modus-wc-color-trimble-blue);
    --fallback-bc: var(--modus-wc-color-trimble-blue);
  }

  &:indeterminate {
    --fallback-bc: var(--modus-wc-color-blue-light);
  }

  &:focus {
    outline-color: var(--modus-wc-color-highlight-blue);
  }

  &:hover {
    --fallback-bc: var(--modus-wc-color-blue-light);
  }
}
