/**
* This component uses Tailwind CSS and DaisyUI.
* Only add styles here that should not be applied by Tailwind, Daisy, or the theme.
*/

.modus-wc-input {
  @include feedback-levels;
}

// TODO - see if we can simplify this styling by overriding tailwind classes (see modus-wc-checkbox.scss)
[data-theme='modus-classic-light']
  modus-wc-number-input
  .modus-wc-number-input-container,
[data-theme='modus-classic-dark']
  modus-wc-number-input
  .modus-wc-number-input-container {
  .modus-wc-input-currency {
    background-color: var(--modus-wc-color-base-100);
    border: var(--modus-wc-border-width-xs) solid transparent;
    color: var(--modus-wc-color-trimble-gray);
    white-space: nowrap;

    &.modus-wc-input-sm {
      padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-sm);
    }

    &.modus-wc-input-md {
      padding: var(--modus-wc-spacing-lg);
    }

    &.modus-wc-input-lg {
      padding: var(--modus-wc-spacing-xl);
    }
  }

  .modus-wc-number-input {
    &.modus-wc-input {
      .modus-wc-input-label {
        padding-bottom: var(--modus-wc-spacing-2xs);
      }

      &.modus-wc-input-sm {
        padding: var(--modus-wc-spacing-sm) var(--modus-wc-spacing-xs);
        padding-inline-end: 0; // Align spinner buttons
      }

      &.modus-wc-input-md {
        padding: var(--modus-wc-spacing-sm);
        padding-inline-end: var(--modus-wc-spacing-lg); // Align spinner buttons
      }

      &.modus-wc-input-lg {
        padding: var(--modus-wc-spacing-md) var(--modus-wc-spacing-sm);
        padding-inline-end: var(--modus-wc-spacing-xl); // Align spinner buttons
      }

      &:focus {
        border-color: var(--modus-wc-color-highlight-blue);
        border-width: var(--modus-wc-border-width-sm);
        box-shadow: none; // Removes the Tailwind ring effect
        outline: none; // Ensures there's no outline on focus
      }

      &.modus-wc-number-input--readonly {
        background-color: var(--modus-wc-color-base-100);
      }
    }
  }

  .modus-wc-number-input,
  .modus-wc-input-currency {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin-bottom: auto;
      margin-top: auto;
    }

    // TODO - add support for xs and xl once added to Modus Figma
    &.modus-wc-input-sm {
      font-size: var(--modus-wc-font-size-sm);
      height: var(--modus-wc-input-height-sm);
      line-height: var(--modus-wc-line-height-sm);

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        font-size: var(--modus-wc-font-size-sm);
        height: var(--modus-wc-input-height-sm);
      }
    }

    &.modus-wc-input-md {
      font-size: var(--modus-wc-font-size-md);
      height: var(--modus-wc-input-height-md);
      line-height: var(--modus-wc-line-height-md);

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        font-size: var(--modus-wc-font-size-md);
        height: var(--modus-wc-input-height-md);
      }
    }

    &.modus-wc-input-lg {
      font-size: var(--modus-wc-font-size-lg);
      height: var(--modus-wc-input-height-lg);
      line-height: var(--modus-wc-line-height-xl);

      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        font-size: var(--modus-wc-font-size-lg);
        height: 3rem;
      }
    }
  }
}
